@charset "utf-8";

@mixin block-middle() {
    @include inline-block(middle);
}

@mixin block-middle-inner($block: false, $before: false) {
    @if $before { 
        &:before {
            @include block-middle();
            height: 100%;
            content: '';
        }
    }
    @else {
        &:after {
            @include block-middle();
            height: 100%;
            content: '';
        }
    }    
    @if $block {
        #{$block} {
            @include block-middle();
        }
    }
}