@charset "utf-8";

@import "variables/colors";
@import "variables/size";
@import "mixin/block-middle";

header {
    position: fixed;
    background: $color-white;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $color-black30;
    border-bottom: 1px solid $color-black30;
    z-index: 100;
    .top-hidden {
        display: none;
        border-top: 1px solid $color-black30;
        border-bottom: 1px solid $color-black30;
        padding: 55px 0;
        background: $color-black5;
        .close {
            display: none;
        }
        .top-hidden-menu {
            @include inline-block(top);
            width: 72%;
            > ul {
                > li {
                    @include inline-block(top);
                    width: 31%;
                    > a {
                        @include font-props(4, $color-black90, $font-roboto);
                        text-decoration: none;
                    }
                    > ul {
                        padding-top: 15px;
                        > li {
                            display: block;
                            padding-bottom: 15px;
                            a {
                                @include font-props(3.5, $color-black90, $font-roboto);
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .socials {
            @include inline-block(top);
            width: 20%;
            .sheader {
                @include font-props(4, $color-black90, $font-roboto);
            }
            ul {
                padding: 25px 0;
                li {
                    @include inline-block(middle);
                    padding-right: 15px;
                    a {
                        display: block;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .top-fixed {
        top: 0;
        height: $header-height;
        position: relative;
        @include block-middle-inner();
        @include transition(height 0.3s ease);
        .logo {
            @include inline-block(middle);
            a {
                display: block;
            }
        }
        .himenu {
            @include inline-block(middle);
            margin-left: 64px;
            margin-right: 22px;
            a {
                @include font-props(4, $color-black);
                text-decoration: none;
                img {
                    @include inline-block(middle);
                }
                span {
                    @include inline-block(middle);
                    padding-left: 10px;
                }
                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
        .main-menu {
            @include inline-block(middle);
            ul {
                li {
                    @include inline-block(middle);
                    a {
                        display: block;
                        padding: 10px 8px;
                        @include font-props(4, $color-black);
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                            color: $color-dodgerblue3;
                        }
                    }
                    &.active {
                        a {
                            color: $color-dodgerblue3;
                        }
                    }
                }
            }
        }
        .top-phone {
            @include stretch(45px, 0, false, false);
            @include transition(top 0.3s ease);
            .num {
                padding-bottom: 5px;
                a {
                    @include font-props(5, $color-dodgerblue3, $font-roboto);
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .foz {
                a {
                    @include font-props(3.5, $color-black60);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    @include respond-to(middle) {
        .top-fixed {
            .main-menu {
                display: none;
            }
            .top-phone {
                right: 20px;
            }
        }
    }
    @include respond-to(small) {
        overflow: auto;
        max-height: 100%;
        .top-fixed {
            .himenu {
                @include stretch(35%, 20px, false, false);
                a {
                    span {
                        display: none;
                    }
                    img {
                        width: 25px;
                    }
                }
            }
            .top-phone {
                top: 29%;
                width: auto;
                right: 98px;
                .num {
                a {
                    background: url($path-image+"tbut.png") no-repeat;
                    background-size: contain;
                    width: 38px;
                    @include inline-block;
                    height: 38px;
                    color: transparent;
                    overflow: hidden;
                }
                }
                .foz {
                    display: none;
                }
            }
        }
        .top-hidden {
            padding: 25px 0;
            .close {
                display: block;
                @include stretch(0, 20px, false, false);
                @include font-props(8, $color-black80);
                cursor: pointer;
            }
            .top-hidden-menu {
                width: auto;
                display: block;
                > ul {
                    > li {
                        display: block;
                        width: auto;
                        > ul {
                            padding-top: 5px;
                            > li {
                                padding-bottom: 5px;
                            }
                        }
                        &:first-child {
                            > ul {
                                > li {
                                    a {
                                        @include font-props(4);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .socials {
                width: auto;
                display: block;
                padding-top: 20px;
            }
        }
    }
}