@charset "utf-8";

@mixin section-portfolio-gallery {
    background-repeat: no-repeat;
    height: 817px;
    background-position: center top;
    padding-top: 88px;
    .header {
        @include font-props(9, $color-pictonblue2);
        text-align: center;
        .count {
            color: $color-black10;
        }
    }
    .main-portfolio-gallery {
        padding-top: 41px;
        text-align: center;
        position: relative;
        #main-portfolio-gallery-carousel {
            margin: -89px auto 0;
            width: 689px;
            opacity: 0.5;
            .slides {
                li {
                    cursor: pointer;
                }
            }
        }
        .direction-nav {
            a {
                @include stretch(50%, false, false, false);
                @include font-props(18.25, $color-solitude4);
                text-decoration: none;
                &.flex-prev {
                    left: 0;
                }
                &.flex-next {
                    right: 27px;
                    span {
                        @include inline-block(top);
                        @include font-props(4, $color-amour);
                        width: 24px;
                        height: 24px;
                        background: $color-persianred;
                        @include border-radius(50%);
                        text-align: center;
                        padding-top: 1px;
                        margin-left: -70px;
                        margin-top: 19px;
                    }
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .cta {
        text-align: center;
        padding-top: 44px;
        a {
            @include font-props(6, $color-dodgerblue3);
        }
    }
    @include respond-to(small) {
        height: auto;
        padding: 45px 0;
        background-size: cover;
        background-position: center center;
        .header {
            @include font-props(7);
        }
        .main-portfolio-gallery {
            .slides {
                li {
                    img {
                        width: 100%;
                    }
                }
            }
            .direction-nav {
                a {
                    margin-top: -48px;
                }
            }
        }
        .cta {
            padding-top: 24px;
            a {
                @include font-props(4);
            }
        }
    }
}