@charset "utf-8";

@mixin section-workstep {
    .workstep-element {
        padding: 20px 0;
        &.with-image {
            border: 1px solid $color-black10;
            background: $color-snow3;
            padding: 25px;
            margin: 20px 0;
            .image {
                @include inline-block(top);
                width: 250px;
                margin-right: 20px;
                img {
                    width: 100%;
                }
            }
            .workstep-content {
                @include inline-block(top);
                width: 630px;
            }
        }
        .workstep-content {
            .name {
                @include font-props(5, $color-black90);
                padding-bottom: 15px;
            }
            .desc {
                @include font-props(4, $color-black90);
            }
        }
    }
    @include respond-to(middle) {
        .workstep-element {
            &.with-image {
                .image {
                    width: 30%;
                }
                .workstep-content {
                    width: 66%;
                }
            }
        }
    }
}