@charset "utf-8";

@mixin section-video {
    background: $color-whitesmoke3;
    padding: 45px 0;
    text-align: center;
    border-top: 1px solid $color-black30;
    border-bottom: 1px solid $color-black30;
    .header {
        @include font-props(7, $color-black, $font-roboto, 100);
    }
    .video {
        padding: 45px 0;
        a {
            display: block;
            margin: 0 auto;
            width: 641px;
            height: 360px;
            @include video-impulse(119px, 149px, 'video7.png', 50%);
            background-size: cover;
        }
    }
    @include respond-to(middle) {
        .video {
            a {
                background-repeat: no-repeat;
                background-size: contain;
                padding-top: 56.25%;
                height: auto;
                width: 100%;
                position: relative;
            }
        }
    }
    @include respond-to(small) {
        .header {
            @include font-props(5);
        }
    }
}