@charset "utf-8";

@mixin section-lending-gallery {
    .lending-gallery {
        padding-top: 41px;
        text-align: center;
        position: relative;
        #lending-gallery-carousel {
            margin: -89px auto 0;
            width: 689px;
            opacity: 0.5;
            .slides {
                li {
                    cursor: pointer;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .direction-nav {
            a {
                @include stretch(50%, false, false, false);
                @include font-props(18.25, $color-solitude4);
                text-decoration: none;
                width: 88px;
                height: 88px;
                opacity: 0.6;
                &.flex-prev {
                    left: 0;
                    background: url($path-image+"alb.png") no-repeat;
                }
                &.flex-next {
                    right: 0;
                    background: url($path-image+"arb.png") no-repeat right top;
                    text-align: right;
                    span {
                        @include inline-block(top);
                        @include font-props(4, $color-amour);
                        width: 24px;
                        height: 24px;
                        background: $color-persianred;
                        @include border-radius(50%);
                        text-align: center;
                        padding-top: 1px;
                        margin-left: -70px;
                        margin-top: 19px;
                    }
                }
                &:hover {
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
    .cta {
        text-align: center;
        padding-top: 44px;
        a {
            @include font-props(6, $color-dodgerblue3);
        }
    }
    @include respond-to(small) {
        .lending-gallery {
            .slides {
                li {
                    img {
                        width: 100%;
                    }
                }
            }
            .direction-nav {
                a {
                    margin-top: -18px;
                    &.flex-prev {
                        left: 10px;
                    }
                    &.flex-next {
                        right: 10px;
                    }
                }
            }
            #lending-gallery-carousel {
                display: none;
            }
        }
        .cta {
            padding-top: 24px;
            a {
                @include font-props(4);
            }
        }
    }
}