@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-price";
@import "section-calc";
@import "section-foz";
@import "section-socials-foz";

.section-1 {
    height: 673px;
    margin-top: $header-height;
    h1 {
        padding-top: 118px;
        line-height: 1.4;
        @include font-props(9);
    }
}