@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-price";
@import "section-calc";
@import "section-video";
@import "section-foz";
@import "section-socials-foz";

.section-1 {
    margin-top: $header-height;
    .header {
        text-align: center;
        @include font-props(9);
        padding: 43px 0;
        border-bottom: 1px solid $color-black30;
    }
}

.section-2 {
    padding: 55px 0;
    p {
        @include font-props(7);
        padding: 39px 0;
    }
    table {
        width: 100%;
        thead {
            background: $color-pictonblue2;
            tr {
                th {
                    padding: 2px 15px;
                    border: 1px solid $color-pictonblue2;
                    @include font-props(4, $color-snow3);
                    &:first-child {
                        width: 72%;
                    }
                    &:nth-child(2) {
                        width: 16%;
                        text-align: center;
                    }
                    &:last-child {
                        width: 12%;
                    }
                }
            }
        }
        tbody {
            tr {
                height: 42px;
                cursor: pointer;
                &:hover {
                    background: $color-solitude6;
                }
                td {
                    border: 1px solid $color-silver2;
                    padding: 0 15px;
                    @include font-props(4.5);
                }
                &:nth-child(2) {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
}

.section-3 {
    @include section-calc;
    background: $color-solitude6;
    .calc {
        background: $color-white;
        width: 370px;
        padding: 0px 15px 14px;
        form {
            button[type=submit] {
                margin-top: 15px;
            }
        }
    }
    .image {
        bottom: 0;
        img {
            display: block;
        }
    }
}

.section-4 {
    @include section-foz;
    @include section-socials-foz;
}