@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-price";
@import "section-calc";
@import "section-foz";
@import "section-socials-foz";
@import "section-portfolio-gallery";
@import "section-lending-gallery";
@import "section-workstep";
@import "section-lending-list";

.section-1 {
    height: 536px;
    margin-top: $header-height;
    background-position: center top;
    background-repeat: no-repeat;
    .header-1 {
        padding-top: 118px;
        line-height: 1.4;
        @include font-props(9);
    }
    .header-2 {
        padding-top: 34px;
        @include font-props(5);
        line-height: 1.4;
    }
    .cta {
        padding-top: 35px;
        a {
            display: block;
            cursor: pointer;
            height: 57px;
            width: 300px;
            background: $color-gorse;
            padding: 18px 0;
            text-align: center;
            @include font-props(4, $color-black);
            text-decoration: none;
            @include border-radius(2px);
            &:hover {
                text-decoration: none;
                background: $color-gorse2;
            }
        }
    }
    @include respond-to(small) {
        .header-1 {
            padding-top: 20px;
            @include font-props(7);
        }
        .header-2 {
            @include font-props(4);
        }
        .cta {
            padding-top: 135px;
            a {
                width: auto;
            }
        }
    }
}

.section-2 {
    padding: 90px 0;
    .header {
        @include font-props(9);
        padding-bottom: 50px;
    }
    .video {
        height: 540px;
        position: relative;
        a {
            @include video-impulse(132px, 168px, 'video3.png', 50%, $color-venetianred);
        }
    }
    @include respond-to(middle) {
        .video {
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 56.25%;
            height: auto;
        }
    }
    @include respond-to(small) {
        .header {
            @include font-props(7);
        }
    }
}

.section-3 {
    padding-top: 88px;
    padding-bottom: 45px;
    .header {
        @include font-props(9);
    }
    @include section-lending-gallery;
    @include section-workstep;
    @include respond-to(small) {
        .header {
            @include font-props(7);
        }
    }
}

.section-4 {
    @include section-portfolio-gallery;
}

.section-5 {
    @include section-price;
}

.section-6 {
    @include section-calc;
    background: $color-solitude6;
    .calc {
        background: $color-white;
        width: 370px;
        padding: 0px 15px 14px;
        form {
            button[type=submit] {
                /*margin-top: 15px;*/
            }
        }
    }
    .image {
        bottom: 0;
        img {
            display: block;
        }
    }
}

.section-7 {
    @include section-lending-list;
}

.section-8 {
    @include section-foz;
}