@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-foz";
@import "section-portfolio-section-list";

.section-1 {
    margin-top: $header-height;
    .header {
        text-align: center;
        @include font-props(9);
        padding: 43px 0;
    }
    @include section-portfolio-section-list;
    @include respond-to(small) {
        .header {
            @include font-props(7);
        }
    }
}

.section-2 {
    @include section-foz;
}