@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-price";
@import "section-calc";
@import "section-foz";
@import "section-socials-foz";
@import "section-portfolio-gallery";

.section-1 {
    height: 673px;
    margin-top: $header-height;
    background-position: center top;
    .header-1 {
        padding-top: 118px;
        line-height: 1.4;
        @include font-props(9);
    }
    .header-2 {
        padding-top: 34px;
        @include font-props(5);
        line-height: 1.4;
    }
    .cta {
        padding-top: 35px;
        a {
            display: block;
            cursor: pointer;
            height: 57px;
            width: 300px;
            background: $color-gorse;
            padding: 18px 0;
            text-align: center;
            @include font-props(4, $color-black);
            text-decoration: none;
            @include border-radius(2px);
            &:hover {
                text-decoration: none;
                background: $color-gorse2;
            }
        }
    }
    .video {
        @include stretch(260px, 13%, false, false);
        .video-impulse {
            @include video-impulse(108px, 138px, 'video1.png', 30%, $color-venetianred);
            text-decoration: none;
            .text {
                display: block;
                margin-top: 124px;
                @include font-props(4, $color-black);
                text-align: center;
                width: 160px;
            }
        }
    }
}

.section-2 {
    background: $color-whitesmoke8;
    height: 372px;
    .employee-slider {
        height: 340px;
        overflow: hidden;
        position: relative;
        .slides {
            li {
                .element {
                    display: block;
                    height: 340px;
                    position: relative;
                    .image {
                        display: block;
                        height: 274px;
                    }
                    .bc {
                        @include stretch(0, 0, 0, 0);
                        background: url($path-image+"empbc.png") no-repeat;
                        z-index: 5;
                    }
                    .video {
                        @include stretch(false, 0, 66px, 0);
                        padding: 30px 20px;
                        z-index: 10;
                        a {
                            display: block;
                            text-decoration: none;
                            img {
                                @include inline-block(middle);
                            }
                            .text {
                                @include inline-block(middle);
                                padding: 0 13px;
                                @include font-props(3.622, $color-white);
                            }
                        }
                    }
                    .fio {
                        display: block;
                        text-align: center;
                        @include font-props(4.527, $color-black);
                        padding: 10px 0 0;
                        z-index: 10;
                    }
                    .place {
                        display: block;
                        text-align: center;
                        @include font-props(3.622, $color-black70);
                        z-index: 10;
                    }
                }
            }
        }
        .direction-nav {
            width: 100%;
            margin: 0 auto;
            max-width: $size-width-max;
            a {
                @include stretch(112px, false, false, false);
                width: 38px;
                height: 38px;
                background: $color-nightrider2;
                opacity: 0.5;
                text-align: center;
                @include font-props(6.5, $color-whitesmoke8);
                @include border-radius(50%);
                padding-top: 1px;
                cursor: pointer;
                &.flex-prev {
                    margin-left: -182px;
                }
                &.flex-next {
                    margin-left: ($size-width-max + 182px);
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

.section-3 {
    padding: 90px 0;
    .header {
        @include font-props(9);
        padding-bottom: 50px;
    }
    .video {
        height: 540px;
        position: relative;
        a {
            @include video-impulse(132px, 168px, 'video3.png', 50%, $color-venetianred);
        }
    }
}

.section-4 {
    background: $color-whitelilac;
    padding: 115px 0;
    position: relative;
    .header {
        @include font-props(9);
    }
    .list {
        padding-top: 57px;
        ul {
            li {
                padding-bottom: 30px;
                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    @include border-radius(50%);
                    background: $color-black40;
                    margin-top: 10px;
                    margin-right: 10px;
                    @include inline-block(top);
                }
                span {
                    @include inline-block(top);
                    line-height: 1.4;
                }
            }
        }
    }
    .contract {
        padding-left: 18px;
        a {
            @include font-props(4, $color-dodgerblue3);
        }
    }
    .image {
        @include stretch(false, false, 0, 60%);
    }
}

.section-5 {
    position: relative;
    height: 599px;
    .image {
        @include stretch(0, 61.875%, 0, false);
    }
    .video {
        @include stretch(50%, 61.875%, false, false);
        z-index: 10;
        a {
            @include video-impulse(132px, 168px, 'video3.png', 0%, $color-venetianred);
        }
    }
    .right {
        margin-left: 38.125%;
        padding: 120px 0 0 106px;
        .header {
            @include font-props(9);
        }
        .list {
            padding-top: 57px;
            ul {
                li {
                    padding-bottom: 30px;
                    &:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        @include border-radius(50%);
                        background: $color-black40;
                        margin-top: 10px;
                        margin-right: 10px;
                        @include inline-block(top);
                    }
                    span {
                        @include inline-block(top);
                        line-height: 1.4;
                    }
                }
            }
        }
        .cta {
            padding-top: 35px;
            a {
                @include inline-block;
                cursor: pointer;
                height: 57px;
                background: $color-gorse;
                padding: 18px 37px;
                text-align: center;
                @include font-props(4, $color-black);
                text-decoration: none;
                @include border-radius(2px);
                &:hover {
                    text-decoration: none;
                    background: $color-gorse2;
                }
            }
        }
    }
}

.section-6 {
    background: $color-whitelilac;
    padding: 117px 0;
    .header {
        @include font-props(9);
    }
    .work-progress {
        padding-top: 50px;
        ul {
            li {
                @include inline-block(top);
                width: 300px;
                height: 300px;
                background: $color-white;
                padding: 30px;
                @include box-shadow(23px 23px 34px $color-frenchgrey);
                margin: 16px 12px;
                position: relative;
                &:first-child, &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:last-child, &:nth-child(3n+3) {
                    margin-right: 0;
                }
                &:nth-child(-n+3) {
                    margin-top: 0;
                }
                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
                .image {
                    @include inline-block;
                    background: $color-kashmirblue;
                    width: 73px;
                    height: 73px;
                    text-align: center;
                    @include block-middle-inner(img);
                    @include border-radius(4px);
                }
                .name {
                    display: block;
                    padding: 10px 0;
                    @include font-props(5);
                }
                .text {
                    display: block;
                    @include font-props(3.5, $color-black70);
                    line-height: 1.3;
                }
                .link {
                    display: block;
                    padding: 10px 0;
                }
                .line {
                    @include stretch(false, false, 39px, 30px);
                    width: 52px;
                    height: 6px;
                    background: $color-kashmirblue;
                    @include border-radius(4px);
                }
            }
        }
    }
}

.section-7 {
    @include section-price;
}

.section-8 {
    @include section-portfolio-gallery;
}

.section-9 {
    padding: 75px 0 32px;
    .header {
        @include font-props(9);
    }
    .portfolio-review-widget {
        padding-top: 75px;
        .review-list {
            &.closed {
                display: none;
            }
            li {
                @include inline-block(top);
                margin: 0 10px 30px;
                width: 467px;
                height: 417px;
                position: relative;
                border: 1px solid $color-black40;
                &:first-child, &:nth-child(2n+1) {
                    margin-left: 0;
                }
                &:nth-child(2n+2) {
                    margin-right: 0;
                }
                .video {
                    display: block;
                    position: relative;
                    a {
                        @include video-impulse(86px, 126px, 'video4.png', 50%, $color-venetianred);
                        .cover {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .name {
                    text-align: center;
                    display: block;
                    padding-top: 28px;
                    @include font-props(4, false, $font-roboto, 100);
                    line-height: 1.4;
                }
                .link {
                    @include stretch(false, 0, 0, 0);
                    padding-bottom: 21px;
                    text-align: center;
                    a {
                        @include inline-block;
                        @include border-radius(30px);
                        border: 1px solid $color-cardinal2;
                        @include font-props(4, $color-cardinal2, $font-roboto);
                        padding-top: 11px;
                        width: 199px;
                        height: 45px;
                        background: $color-white;
                        text-decoration: none;
                        &:hover {
                            color: $color-white;
                            background: $color-cardinal2;
                        }
                    }
                }
            }
        }
        .more {
            padding: 15px 0;
            text-align: center;
            .more-review {
                @include inline-block;
                width: 230px;
                height: 45px;
                @include border-radius(58px);
                background: $color-black20;
                text-decoration: none;
                @include font-props(4, $color-black);
                cursor: pointer;
                padding-top: 11px;
                &:hover {
                    background: $color-black60;
                }
            }
        }
    }
}

.section-10 {
    background: $color-whitelilac;
    padding: 110px 0;
    .header {
        @include font-props(9);
    }
    .youtube-video {
        padding: 48px 0;
        ul {
            li {
                @include inline-block(top);
                width: 302px;
                margin: 11px;
                &:first-child {
                    float: left;
                    width: 635px;
                    margin: 0 20px 0 0;
                }
                &:nth-child(2), &:nth-child(3) {
                    margin: 0 0 11px 0;
                }
                &:nth-child(4) {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    text-decoration: none;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    .cta {
        padding-top: 21px;
        a {
            @include font-props(6, $color-dodgerblue3);
            img {
                vertical-align: middle;
            }
        }
    }
}

.section-11 {
    @include section-calc;
}

.section-12 {
    @include section-foz;
    @include section-socials-foz;
}