@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-foz";

.section-1 {
    padding: 45px 0;
    .header {
        @include font-props(9);
        padding-bottom: 35px;
    }
    .map {
        @include inline-block(top);
        width: 511px;
    }
    .connect {
        @include inline-block(top);
        padding-left: 28px;
        width: 420px;
        .item {
            padding-bottom: 43px;
            .icon {
                @include inline-block(top);
                width: 76px;
                text-align: center;
            }
            .cont {
                @include inline-block(top);
                width: 75%;
                .name {
                    display: block;
                    @include font-props(3.5, $color-black60);
                }
                .val {
                    display: block;
                    @include font-props(6, $color-black90);
                    a {
                        @include font-props(6, $color-black90);
                    }
                    &.socials {
                        ul {
                            padding: 10px 0;
                            li {
                                @include inline-block(middle);
                                a {
                                    display: block;
                                    width: 43px;
                                    height: 43px;
                                    border: 3px solid $color-white;
                                    @include block-middle-inner(img);
                                    text-align: center;
                                    img {
                                        @include filter(grayscale(90%));
                                        opacity: 0.6;
                                    }
                                    &:hover {
                                        border-color: $color-dodgerblue3;
                                        img {
                                            @include filter(none);
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-2 {
    padding: 45px 0;
    .header {
        @include font-props(9);
        padding-bottom: 35px;
    }
    .details {
        table {
            width: 100%;
            tr {
                cursor: pointer;
                td {
                    border: 1px solid $color-silver2;
                    padding: 12px 15px;
                    @include font-props(3.5, $color-black);
                    &:first-child {
                        width: 28%;
                    }
                    &:last-child {
                        width: 72%;
                    }
                }
                &:hover {
                    background: $color-solitude6;
                }
            }
        }
    }
}

.section-3 {
    @include section-foz;
}