@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";
 
@import "section-foz";
@import "section-portfolio-section-list";

.section-1 {
    margin-top: $header-height;
    .header {
        @include font-props(6);
        padding: 43px 0;
        @include inline-block(middle);
        width: 260px;
    }
    .section-menu {
        @include inline-block(middle);
        width: 690px;
        text-align: right;
        ul {
            li {
                @include inline-block(middle);
                a, &.active span {
                    display: block;
                    text-align: center;
                    padding: 10px 10px 0;
                    height: 45px;
                    border: 1px solid $color-white;
                    @include border-radius(44px);
                    text-decoration: none;
                    @include font-props(4, $color-black);
                    @include transition(all 0.3s ease);
                    &:hover {
                        border-color: $color-cardinal3;
                        color: $color-cardinal3;
                    }
                }
                &.active {
                    span {
                        border-color: $color-cardinal3;
                        color: $color-cardinal3;
                    }
                }
            }
        }
    }
    @include respond-to(middle) {
        .section-menu {
            display: block;
            width: auto;
            padding-bottom: 40px;
        }
    }
}

.section-2 {
    @include section-portfolio-section-list;
    .section-list {
        .section {
            .section-element-list {
                ul {
                    li {
                        &:nth-child(n+3) {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.section-3 {
    @include section-foz;
}