@charset "utf-8";

@import "compass";
@import "compass/layout/stretching";

@import "variables/typography";
@import "variables/colors";
@import "variables/size";
@import "variables/images";
@import "mixin/font-props";
@import "mixin/respond-to";
@import "mixin/video-impulse";
@import "mixin/block-middle";

@import "section-video";
@import "section-foz";

.section-1 {
    margin-top: $header-height;
    .section-menu {
        @include inline-block(middle);
        width: 650px;
        padding: 30px 0;
        ul {
            li {
                @include inline-block(middle);
                a, &.active span {
                    display: block;
                    padding: 10px 10px;
                    text-decoration: none;
                    @include font-props(4, $color-black);
                    @include transition(all 0.3s ease);
                    &:hover {
                        color: $color-cardinal3;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                }
                &.active {
                    span {
                        color: $color-cardinal3;
                    }
                }
            }
        }
    }
    .element-nav {
        @include stretch(29px, 0, false, false);
        width: 200px;
        text-align: right;
        li {
            @include inline-block(top);
            a {
                display: block;
                width: 100px;
                height: 45px;
                @include border-radius(30px);
                background: $color-white;
                border: 1px solid $color-black30;
                @include font-props(2.5, $color-black, $font-roboto, 100);
                line-height: 1;
                &.next {
                    text-align: right;
                    @include block-middle-inner(false, true);
                    padding-right: 5px;
                    &.has-prev {
                        border-left: none;
                        @include border-radius(0 30px 30px 0);
                    }
                    &:after {
                        content: '\3009';
                        @include inline-block(middle);
                    }
                    span {
                        margin-right: 7px;
                    }
                }
                &.prev {
                    text-align: left;
                    @include block-middle-inner;
                    padding-left: 5px;
                    &.has-next {
                        border-right: none;
                        @include border-radius(30px 0 0 30px);
                    }
                    &:before {
                        content: '\3008';
                        @include inline-block(middle);
                    }
                    span {
                        margin-left: 7px;
                    }
                }
                span {
                    @include inline-block(middle);
                    width: 77%;
                    line-height: 1.2;
                }
                &:hover {
                    color: $color-dodgerblue3;
                }
            }
        }
        &.fixed {
            position: fixed;
            top: $header-height - 30px;
            width: $size-width-max;
            right: auto;
            z-index: 50;
        }
    }
    @include respond-to(middle) {
        .element-nav {
            top: 0;
            right: 20px;
            &.fixed {
                top: 77px;
                right: 20px;
            }
        }
        .section-menu {
            padding-top: 40px;
        }
    }
    @include respond-to(small) {
        .section-menu {
            width: auto;
        }
    }
}

.section-2 {
    padding-bottom: 45px;
    .element-top {
        border-top: 1px solid $color-black30;
        border-bottom: 1px solid $color-black30;
        .head {
            height: 310px;
            position: relative;
            margin-top: 45px;
            margin-bottom: 45px;
            .header-1 {
                @include stretch(112px, 0, false, 0);
                @include font-props(7, $color-snow3, $font-roboto, 100);
                text-align: center;
            }
            .line {
                @include stretch(159px, false, false, 50%);
                width: 294px;
                height: 1px;
                margin-left: -147px;
                background: $color-white;
                opacity: 0.5;
            }
            .header-2 {
                @include stretch(176px, 0, false, 0);
                @include font-props(4, $color-amour, $font-roboto, 100);
                text-align: center;
            }
        }
    }
    @include respond-to(small) {
        .element-top {
            .head {
                .header-1 {
                    top: 86px;
                    @include font-props(6);
                    padding: 0 10px;
                }
            }
        }
    }
}

.section-video {
    @include section-video;
}

.section-gallery {
    padding: 48px 0;
    .header {
        text-align: center;
        @include font-props(7, $color-black, $font-roboto, 100);
    }
    .portfolio-gallery {
        padding: 48px 0;
        text-align: center;
        li {
            @include inline-block(top);
            margin: 20px 21px;
            @include respond-to(large) {
                &:first-child, &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:nth-child(-n+3) {
                    margin-top: 0;
                }
                &:nth-child(3n+3), &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    @include respond-to(small) {
        .portfolio-gallery {
            li {
                margin: 15px 0;
                width: auto;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.section-3 {
    @include section-foz;
}

.section-4 {
    .section-element-list {
        ul {
            text-align: center;
            padding-bottom: 33px;
            li {
                @include inline-block(top);
                width: 467px;
                height: 464px;
                margin: 44px 10px;
                border: 1px solid $color-black40;
                position: relative;
                @include respond-to(large) {
                    &:nth-child(odd) {
                        margin-left: 0;
                    }
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }
                .image {
                    display: block;
                    height: 310px;
                    position: relative;
                    .review {
                        @include stretch(8px, 8px, false, false);
                        width: 110px;
                        height: 110px;
                        @include border-radius(50%);
                        background: $color-venetianred;
                        text-align: center;
                        @include font-props(4, $color-white, $font-roboto, 100);
                        @include block-middle-inner;
                    }
                    .info {
                        padding-top: 114px;
                        display: block;
                        .header-1 {
                            display: block;
                            @include font-props(5, $color-snow3, $font-roboto, 100);
                        }
                        .line {
                            width: 98px;
                            display: block;
                            height: 1px;
                            margin: 14px auto;
                            background: $color-white;
                        }
                        .header-2 {
                            display: block;
                            @include font-props(3.5, $color-snow3);
                        }
                    }
                }
                .desc {
                    display: block;
                    padding: 27px 0;
                    text-align: center;
                    @include font-props(4, $color-black, $font-roboto, 100);
                }
                .cta {
                    @include stretch(false, 0, 21px, 0);
                    text-align: center;
                    a {
                        @include inline-block;
                        width: 199px;
                        height: 45px;
                        border: 1px solid $color-cardinal2;
                        @include border-radius(30px);
                        @include font-props(4, $color-cardinal2);
                        text-decoration: none;
                        @include transition(all 0.3s ease);
                        padding-top: 9px;
                        &:hover {
                            background: $color-cardinal2;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .more {
            padding: 0 0 33px;
            text-align: center;
            a {
                @include inline-block;
                width: 230px;
                height: 45px;
                border: 1px solid $color-black20;
                @include border-radius(58px);
                @include font-props(4, $color-black);
                text-decoration: none;
                @include transition(all 0.3s ease);
                background: $color-black20;
                padding-top: 9px;
                &:hover {
                    background: $color-black60;
                    color: $color-white;
                }
            }
        }
    }
    @include respond-to(small) { 
        .section-element-list {
            ul {
                li {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
}