/*@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Exo+2:400,700&subset=cyrillic');*/
/*'Roboto', sans-serif;*/
/*$font-os: 'Open Sans', sans-serif;*/
/*$font-cn: 'Roboto Condensed', sans-serif;*/
/*$font-exo: 'Exo 2', sans-serif;*/
body {
  background: #ECF0F4; }

header {
  position: relative;
  background: transparent;
  border: none;
  z-index: 1;
  padding: 20px 0; }
  header .logo {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  header .breadcrumb {
    padding: 0 50px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0; }
    header .breadcrumb li a, header .breadcrumb li.active, header .breadcrumb li + li:before {
      font-size: 11px;
      color: #727271; }

.section-1 {
  padding: 117px 0;
  background: #ECF0F4; }
  .section-1 .header {
    font-size: 37px;
    padding-bottom: 53px; }
  .section-1 .calc {
    padding: 0 15px;
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .section-1 .calc .calc-header {
      font-size: 21px;
      padding: 13px 0 0; }
    .section-1 .calc form .form-group {
      display: inline; }
    .section-1 .calc form label {
      display: block;
      font-size: 15px;
      color: #727271;
      padding-bottom: 2px; }
    .section-1 .calc form input[type=text] {
      border: 1px solid #C5C6C6;
      font-size: 14px;
      color: #727271; }
      .section-1 .calc form input[type=text]:-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-1 .calc form input[type=text]::-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-1 .calc form input[type=text]:-ms-input-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-1 .calc form input[type=text]::-webkit-input-placeholder {
        font-size: 14px;
        color: #727271; }
    .section-1 .calc form .field-calcinputdataform-address input[type=text] {
      width: 256px;
      height: 26px;
      padding: 0 10px; }
    .section-1 .calc form .roomcount-group, .section-1 .calc form .doorcount-group, .section-1 .calc form .toiletcount-group {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 200px; }
      .section-1 .calc form .roomcount-group .spin-down, .section-1 .calc form .roomcount-group .spin-up, .section-1 .calc form .doorcount-group .spin-down, .section-1 .calc form .doorcount-group .spin-up, .section-1 .calc form .toiletcount-group .spin-down, .section-1 .calc form .toiletcount-group .spin-up {
        width: 26px;
        height: 26px;
        border: 1px solid #C5C6C6;
        cursor: pointer;
        background: #FFFFFF;
        font-size: 11px;
        color: #727271;
        vertical-align: top; }
      .section-1 .calc form .roomcount-group input[type=text], .section-1 .calc form .doorcount-group input[type=text], .section-1 .calc form .toiletcount-group input[type=text] {
        width: 88px;
        height: 26px;
        text-align: center; }
      .section-1 .calc form .roomcount-group .help-block, .section-1 .calc form .doorcount-group .help-block, .section-1 .calc form .toiletcount-group .help-block {
        margin: 0; }
    .section-1 .calc form .doorcount-group {
      width: 158px; }
      .section-1 .calc form .doorcount-group input[type=text] {
        width: 40px; }
    .section-1 .calc form .toiletcount-group {
      width: 156px; }
      .section-1 .calc form .toiletcount-group input[type=text] {
        width: 40px; }
    .section-1 .calc form .field-calcinputdataform-square {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 116px; }
      .section-1 .calc form .field-calcinputdataform-square label sup {
        font-size: 70%; }
      .section-1 .calc form .field-calcinputdataform-square input[type=text] {
        width: 76px;
        height: 27px;
        padding: 0 10px; }
      .section-1 .calc form .field-calcinputdataform-square .help-block {
        margin: 0; }
    .section-1 .calc form .field-calcinputdataform-second label input[type=checkbox], .section-1 .calc form .field-calcinputdataform-wall label input[type=checkbox] {
      display: none; }
    .section-1 .calc form .field-calcinputdataform-second label:before, .section-1 .calc form .field-calcinputdataform-wall label:before {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid #C5C6C6;
      margin-top: 2px; }
    .section-1 .calc form .field-calcinputdataform-second label span, .section-1 .calc form .field-calcinputdataform-wall label span {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    .section-1 .calc form .field-calcinputdataform-second label.checked:before, .section-1 .calc form .field-calcinputdataform-wall label.checked:before {
      background: url("/uploads/images/chw.png") no-repeat -1px center; }
    .section-1 .calc form .field-calcinputdataform-second label {
      padding-top: 10px; }
    .section-1 .calc form button[type=submit] {
      margin-top: 6px;
      width: 284px;
      height: 57px;
      background: #FFDD2D;
      border: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      font-size: 17px; }
      .section-1 .calc form button[type=submit] img {
        margin-left: 10px;
        vertical-align: middle; }
    .section-1 .calc form .help-block {
      font-size: 11px; }
  @media print, screen and (min-width: 960px) {
    .section-1 .image {
      position: absolute;
      bottom: -20px;
      right: 0; } }
  @media print, screen and (max-width: 959px) {
    .section-1 .calc {
      display: block;
      width: auto; }
      .section-1 .calc form .field-calcinputdataform-address input[type=text] {
        height: 36px; }
      .section-1 .calc form .roomcount-group, .section-1 .calc form .doorcount-group, .section-1 .calc form .toiletcount-group {
        width: auto;
        display: block;
        padding-bottom: 10px; }
        .section-1 .calc form .roomcount-group .spin-down, .section-1 .calc form .roomcount-group .spin-up, .section-1 .calc form .doorcount-group .spin-down, .section-1 .calc form .doorcount-group .spin-up, .section-1 .calc form .toiletcount-group .spin-down, .section-1 .calc form .toiletcount-group .spin-up {
          height: 36px;
          width: 36px;
          font-size: 21px; }
        .section-1 .calc form .roomcount-group input[type=text], .section-1 .calc form .doorcount-group input[type=text], .section-1 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
      .section-1 .calc form .field-calcinputdataform-square, .section-1 .calc form .doorcount-group, .section-1 .calc form .toiletcount-group {
        width: 200px; }
        .section-1 .calc form .field-calcinputdataform-square input[type=text], .section-1 .calc form .doorcount-group input[type=text], .section-1 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
    .section-1 .image {
      display: none; } }
  @media print, screen and (max-width: 767px) {
    .section-1 {
      padding: 45px 0; }
      .section-1 .header {
        font-size: 29px; }
      .section-1 .calc {
        width: auto; }
        .section-1 .calc form button[type=submit] {
          width: 100%; }
        .section-1 .calc form .field-calcinputdataform-second label span {
          max-width: 92%; } }
  .section-1 .calc {
    background: #FFFFFF;
    width: 370px;
    padding: 0px 15px 14px; }
    .section-1 .calc form button[type=submit] {
      /*margin-top: 15px;*/ }
  .section-1 .image {
    bottom: 0; }
    .section-1 .image img {
      display: block; }
  @media print, screen and (max-width: 767px) {
    .section-1 .calc {
      width: 100%;
      padding: 10px; } }

.section-2 {
  padding: 43px 0; }
  .section-2 .header {
    font-size: 21px; }

.section-3 {
  padding: 26px 0; }
  .section-3 .inputdata-container {
    width: 490px;
    background: #FFFFFF;
    padding: 32px;
    position: relative; }
    .section-3 .inputdata-container .address {
      font-size: 17px;
      color: #000000;
      padding-bottom: 15px; }
    .section-3 .inputdata-container p {
      padding-bottom: 10px;
      font-size: 13px;
      color: #727271; }
      .section-3 .inputdata-container p .val {
        color: #000000; }
    .section-3 .inputdata-container .change {
      position: absolute;
      top: 40px;
      right: 32px;
      font-size: 11px;
      color: #1071FF; }
  @media print, screen and (max-width: 767px) {
    .section-3 .inputdata-container {
      width: auto; } }

.section-4 {
  padding: 43px 0; }
  .section-4 .template-styles .header {
    font-size: 17px; }
  .section-4 .template-styles .desc {
    padding: 15px 0;
    font-size: 13px;
    color: #727271; }
  .section-4 .template-styles .calc-collect-list {
    overflow: hidden; }
    .section-4 .template-styles .calc-collect-list ul {
      width: auto; }
      .section-4 .template-styles .calc-collect-list ul li {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 207px;
        margin-right: 10px;
        cursor: pointer; }
        .section-4 .template-styles .calc-collect-list ul li .name {
          display: block;
          font-size: 13px;
          color: #727271;
          padding-bottom: 5px; }
        .section-4 .template-styles .calc-collect-list ul li .price {
          display: block;
          font-size: 11px;
          color: #727271;
          padding-bottom: 5px; }
        .section-4 .template-styles .calc-collect-list ul li .image {
          display: block;
          height: 168px;
          overflow: hidden;
          border: 1px solid #FFFFFF; }
          .section-4 .template-styles .calc-collect-list ul li .image img {
            width: 100%; }
        .section-4 .template-styles .calc-collect-list ul li:hover .name, .section-4 .template-styles .calc-collect-list ul li:hover .price {
          color: #333333; }
        .section-4 .template-styles .calc-collect-list ul li:hover .image {
          border-color: #000000; }

.section-5 {
  padding-top: 43px; }
  .section-5 .tab-nav {
    margin: 0 20px; }
    .section-5 .tab-nav .tab-element {
      margin: 0 5px;
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .section-5 .tab-nav .tab-element a {
        display: block;
        width: 170px;
        height: 39px;
        background: #F6F7F7;
        padding-top: 12px;
        font-size: 13px;
        color: #727271;
        text-decoration: none;
        text-align: center; }
        .section-5 .tab-nav .tab-element a.active {
          background: #FFFFFF;
          color: #000000; }
        .section-5 .tab-nav .tab-element a:not(.active):hover {
          background: #F7FAFA;
          color: #434242; }
  .section-5 .tab-container {
    background: #FFFFFF;
    padding: 10px;
    width: 100%;
    overflow: hidden; }
    .section-5 .tab-container .tab-content {
      display: none; }
      .section-5 .tab-container .tab-content .baseimage {
        width: 63%;
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative; }
        .section-5 .tab-container .tab-content .baseimage img {
          width: 100%;
          display: block; }
          .section-5 .tab-container .tab-content .baseimage img:not(:first-child) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
        .section-5 .tab-container .tab-content .baseimage + .element-group-list {
          width: 494px; }
      .section-5 .tab-container .tab-content .element-group-list {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        height: 100%;
        overflow-y: auto; }
        .section-5 .tab-container .tab-content .element-group-list .element-group {
          border-bottom: 1px solid #F1F1F1; }
          .section-5 .tab-container .tab-content .element-group-list .element-group .name a {
            display: block;
            padding: 15px;
            font-size: 13px;
            color: #5B5B5B;
            text-decoration: none; }
            .section-5 .tab-container .tab-content .element-group-list .element-group .name a span {
              display: inline-block;
              vertical-align: middle;
              *vertical-align: auto;
              *zoom: 1;
              *display: inline;
              line-height: 1; }
            .section-5 .tab-container .tab-content .element-group-list .element-group .name a i {
              display: inline-block;
              vertical-align: middle;
              *vertical-align: auto;
              *zoom: 1;
              *display: inline;
              margin-right: 10px; }
          .section-5 .tab-container .tab-content .element-group-list .element-group .element-list {
            display: none;
            padding: 10px;
            background: #F1F1F1; }
            .section-5 .tab-container .tab-content .element-group-list .element-group .element-list .local-group-name {
              margin: 10px 5px 5px;
              font-size: 13px;
              color: #424242; }
            .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label {
              display: inline-block;
              vertical-align: top;
              *vertical-align: auto;
              *zoom: 1;
              *display: inline;
              width: 142px;
              height: 210px;
              position: relative;
              margin: 5px;
              cursor: pointer;
              background: #FFFFFF; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .icon {
                display: block;
                height: 90px;
                overflow: hidden; }
                .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .icon img {
                  width: 100%;
                  display: block; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .name {
                display: block;
                margin: 5px;
                font-size: 12px;
                color: #000000;
                font-weight: bold; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .desc {
                display: block;
                margin: 5px;
                font-size: 11px;
                color: #898989; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .countable {
                padding: 0 5px; }
                .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .countable .minus, .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .countable .plus {
                  width: 26px;
                  height: 26px;
                  border: 1px solid #C5C6C6;
                  cursor: pointer;
                  background: #FFFFFF;
                  font-size: 11px;
                  color: #727271;
                  vertical-align: top; }
                .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .countable input[type=text] {
                  width: 48px;
                  height: 26px;
                  text-align: center;
                  font-size: 12px;
                  color: #000000; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label .price {
                display: block;
                margin: 10px 5px;
                font-size: 12px;
                color: #000000; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.big {
                width: 217px;
                height: 329px; }
                .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.big .icon {
                  height: 215px; }
              .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.checked {
                -moz-box-shadow: 0 0 2px #000000;
                -webkit-box-shadow: 0 0 2px #000000;
                box-shadow: 0 0 2px #000000; }
                .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.checked:before {
                  content: '';
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  width: 24px;
                  height: 24px;
                  background: url("/uploads/images/selected-arrow.svg") no-repeat;
                  background-size: cover; }
          .section-5 .tab-container .tab-content .element-group-list .element-group.simple {
            height: 600px; }
            .section-5 .tab-container .tab-content .element-group-list .element-group.simple .name {
              display: none; }
            .section-5 .tab-container .tab-content .element-group-list .element-group.simple .element-list {
              display: block; }
      .section-5 .tab-container .tab-content.active {
        display: block; }
  .section-5 .bottom-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    height: 62px;
    background: #333333;
    z-index: 100; }
    .section-5 .bottom-panel .left {
      position: absolute;
      top: 20px;
      left: 20px; }
      .section-5 .bottom-panel .left .panel-header {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 15px;
        color: #FFFFFF;
        margin-right: 15px; }
      .section-5 .bottom-panel .left .link {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 15px;
        color: #FFFFFF;
        text-decoration: underline; }
    .section-5 .bottom-panel .sum {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 21px;
      color: #FFFFFF; }
  @media print, screen and (max-width: 767px) {
    .section-5 .tab-nav {
      margin: 0 10px; }
      .section-5 .tab-nav .tab-element a {
        width: auto;
        padding: 10px 20px; }
    .section-5 .tab-container .tab-content .baseimage {
      width: 100%; }
      .section-5 .tab-container .tab-content .baseimage + .element-group-list {
        width: 100%; }
    .section-5 .tab-container .tab-content.active {
      height: auto !important; }
    .section-5 .tab-container .tab-content .element-group-list .element-group .element-list {
      max-height: 450px;
      overflow: auto; }
      .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.big {
        width: 142px;
        height: 210px; }
        .section-5 .tab-container .tab-content .element-group-list .element-group .element-list label.big .icon {
          height: 99px; } }

.section-6 {
  padding: 45px 0; }
  .section-6 .complect-content-list .header {
    font-size: 17px;
    padding: 15px 28px; }
  .section-6 .complect-content-list ul {
    padding: 15px 28px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .section-6 .complect-content-list ul li {
      /*@include inline-block(top);*/
      display: -webkit-flex;
      display: flex;
      width: 46%;
      margin: 1%;
      background: #FFFFFF;
      border: 1px solid #B2B3B3;
      cursor: pointer; }
      .section-6 .complect-content-list ul li.checked {
        border-color: #333333; }
        .section-6 .complect-content-list ul li.checked .content .check {
          display: block; }
      .section-6 .complect-content-list ul li .image {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 32%;
        height: 100%;
        background: #DBDBDB; }
        .section-6 .complect-content-list ul li .image img {
          max-width: 100%; }
      .section-6 .complect-content-list ul li .content {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        width: 68%;
        padding: 10px 20px;
        text-align: left; }
        .section-6 .complect-content-list ul li .content .name {
          display: block;
          padding: 10px 0;
          font-size: 17px; }
        .section-6 .complect-content-list ul li .content .desc {
          font-size: 15px;
          color: #727271;
          display: block;
          padding-bottom: 40px; }
        .section-6 .complect-content-list ul li .content .mark {
          position: absolute;
          bottom: 20px;
          left: 20px;
          background: #EEEEEE;
          padding: 5px;
          font-size: 11px;
          color: #5B5B5B; }
        .section-6 .complect-content-list ul li .content .check {
          display: none;
          position: absolute;
          bottom: 20px;
          right: 20px; }
        .section-6 .complect-content-list ul li .content .countable {
          padding: 0 5px; }
          .section-6 .complect-content-list ul li .content .countable .minus, .section-6 .complect-content-list ul li .content .countable .plus {
            width: 26px;
            height: 26px;
            border: 1px solid #C5C6C6;
            cursor: pointer;
            background: #FFFFFF;
            font-size: 11px;
            color: #727271;
            vertical-align: top; }
          .section-6 .complect-content-list ul li .content .countable input[type=text] {
            width: 48px;
            height: 26px;
            text-align: center;
            font-size: 12px;
            color: #000000; }
        .section-6 .complect-content-list ul li .content .price {
          display: block;
          padding: 10px 0;
          font-size: 13px; }
  @media print, screen and (max-width: 767px) {
    .section-6 .complect-content-list .header {
      padding: 15px 0; }
    .section-6 .complect-content-list ul {
      padding: 15px 0; }
      .section-6 .complect-content-list ul li {
        width: 100%;
        margin: 10px 0; }
        .section-6 .complect-content-list ul li .content {
          width: 100%; }
          .section-6 .complect-content-list ul li .content .desc {
            font-size: 13px; } }

.section-7 {
  padding: 113px 0;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA; }
  .section-7 .cont {
    background: #FFFFFF;
    border: 1px solid #D9DADA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 21px 21px 45px #D9DADA;
    -webkit-box-shadow: 21px 21px 45px #D9DADA;
    box-shadow: 21px 21px 45px #D9DADA;
    padding: 60px; }
    .section-7 .cont .header {
      font-size: 25px;
      text-align: center; }
    .section-7 .cont .subheader {
      font-size: 21px;
      text-align: center;
      padding-top: 10px; }
    .section-7 .cont .success-message {
      text-align: center;
      font-size: 21px;
      line-height: 1.45; }
    .section-7 .cont .error-message {
      text-align: center;
      font-size: 21px;
      color: #E31E24;
      line-height: 1.45; }
    .section-7 .cont .form-container {
      padding-top: 45px;
      text-align: center; }
      .section-7 .cont .form-container .form-group {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 20px 12px; }
        .section-7 .cont .form-container .form-group input[type=text] {
          background: #EEF2F7;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #DDDFE0;
          font-size: 17px;
          color: #1A1A1A;
          height: 49px;
          width: 275px;
          padding: 0 15px; }
          .section-7 .cont .form-container .form-group input[type=text]:-moz-placeholder {
            color: #1A1A1A; }
          .section-7 .cont .form-container .form-group input[type=text]::-moz-placeholder {
            color: #1A1A1A; }
          .section-7 .cont .form-container .form-group input[type=text]:-ms-input-placeholder {
            color: #1A1A1A; }
          .section-7 .cont .form-container .form-group input[type=text]::-webkit-input-placeholder {
            color: #1A1A1A; }
        .section-7 .cont .form-container .form-group .help-block {
          position: absolute;
          font-size: 80%; }
        .section-7 .cont .form-container .form-group .checkbox-label {
          font-size: 11px;
          position: relative;
          cursor: pointer; }
          .section-7 .cont .form-container .form-group .checkbox-label input[type=checkbox] {
            display: none; }
          .section-7 .cont .form-container .form-group .checkbox-label span {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
          .section-7 .cont .form-container .form-group .checkbox-label:before {
            display: inline-block;
            vertical-align: top;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            width: 17px;
            height: 17px;
            content: '';
            border: 1px solid #C5C6C6;
            margin-right: 5px; }
          .section-7 .cont .form-container .form-group .checkbox-label.checked:after {
            position: absolute;
            top: 3px;
            left: 3px;
            content: url("/uploads/images/ch.png"); }
      .section-7 .cont .form-container button[type=submit] {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin: 20px 20px 0;
        border: none;
        background: #FFDD2D;
        padding: 0 67px;
        height: 57px;
        cursor: pointer;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-size: 17px; }
  @media print, screen and (max-width: 767px) {
    .section-7 {
      padding: 40px 0; }
      .section-7 .cont {
        padding: 20px 10px; }
        .section-7 .cont .header {
          font-size: 21px; }
        .section-7 .cont .subheader {
          font-size: 17px; }
        .section-7 .cont .form-container .form-group {
          display: block;
          padding: 10px 0;
          margin-bottom: 0; }
          .section-7 .cont .form-container .form-group input[type=text] {
            width: 100%; }
          .section-7 .cont .form-container .form-group .checkbox-label {
            text-align: left; }
            .section-7 .cont .form-container .form-group .checkbox-label span {
              max-width: 92%; }
        .section-7 .cont .form-container button[type=submit] {
          padding: 0;
          width: 100%;
          margin: 0; } }
  .section-7 .cont .header, .section-7 .cont .subheader, .section-7 .cont .form-container {
    text-align: left;
    margin: 0 auto;
    width: 390px; }
  .section-7 .cont .subheader {
    font-size: 17px;
    color: #727271; }
  .section-7 .cont .form-container .form-group {
    padding: 0; }
    .section-7 .cont .form-container .form-group input[type=text] {
      width: 390px; }
  .section-7 .cont .form-container button[type=submit] {
    margin: 20px 0 0;
    width: 100%; }
  @media print, screen and (max-width: 767px) {
    .section-7 .cont .header, .section-7 .cont .subheader {
      width: 100%; }
    .section-7 .cont .form-container {
      width: auto; }
      .section-7 .cont .form-container .form-group input[type=text] {
        width: 100%;
        margin-bottom: 20px; }
      .section-7 .cont .form-container .form-group .checkbox-label span {
        max-width: 95%; }
      .section-7 .cont .form-container button[type=submit] {
        margin: 0; } }

/*# sourceMappingURL=page-calculator.css.map */
