/*@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Exo+2:400,700&subset=cyrillic');*/
/*$font-os: 'Open Sans', sans-serif;*/
/*$font-cn: 'Roboto Condensed', sans-serif;*/
/*$font-exo: 'Exo 2', sans-serif;*/
.section-1 {
  margin-top: 114px; }
  .section-1 .header {
    text-align: center;
    font-size: 37px;
    padding: 43px 0;
    border-bottom: 1px solid #C5C6C6; }

.section-2 {
  padding: 117px 0; }
  .section-2 .header {
    font-size: 37px; }
  .section-2 .price-caption-line {
    margin: 55px 0; }
    .section-2 .price-caption-line ul {
      background: #EEF2F5;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .section-2 .price-caption-line ul li {
        padding: 9px 23px;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
        .section-2 .price-caption-line ul li a {
          font-size: 15px;
          color: #000000;
          text-decoration: none;
          /*@include transition(color 0.9s ease);*/ }
          .section-2 .price-caption-line ul li a:hover {
            text-decoration: none; }
        .section-2 .price-caption-line ul li.active a {
          /*color: $color-white;*/ }
        .section-2 .price-caption-line ul li:last-child {
          background: #4C9FDB;
          -moz-border-radius: 62px;
          -webkit-border-radius: 62px;
          border-radius: 62px;
          height: 39px;
          position: absolute;
          top: 0;
          left: 0;
          mix-blend-mode: multiply;
          -moz-transition: left 0.7s ease, width 0.7s ease;
          -o-transition: left 0.7s ease, width 0.7s ease;
          -webkit-transition: left 0.7s ease, width 0.7s ease;
          transition: left 0.7s ease, width 0.7s ease; }
  .section-2 .price-caption-contents .caption-content {
    display: none; }
    .section-2 .price-caption-contents .caption-content.active {
      display: block; }
    .section-2 .price-caption-contents .caption-content .thead {
      height: 240px; }
      .section-2 .price-caption-contents .caption-content .thead .header {
        padding-top: 16px;
        font-size: 37px; }
      .section-2 .price-caption-contents .caption-content .thead .description {
        padding-top: 31px;
        font-size: 15px; }
    .section-2 .price-caption-contents .caption-content .r {
      height: 72px;
      padding-top: 35px; }
      .section-2 .price-caption-contents .caption-content .r:after {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        height: 100%;
        content: ''; }
      .section-2 .price-caption-contents .caption-content .r span {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
    .section-2 .price-caption-contents .caption-content .col-1 {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 166px; }
      .section-2 .price-caption-contents .caption-content .col-1 .r {
        text-align: left;
        font-size: 17px;
        color: #000000;
        cursor: pointer; }
        .section-2 .price-caption-contents .caption-content .col-1 .r:hover {
          color: #4797D3; }
        .section-2 .price-caption-contents .caption-content .col-1 .r a {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 13px;
          color: #E9F0F8;
          text-decoration: none;
          width: 15px;
          height: 15px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          background: #4797D3;
          margin-left: 3px; }
    .section-2 .price-caption-contents .caption-content .col-option {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 264px;
      border: 1px solid #E7EBF4;
      background: #FFFFFF;
      padding-bottom: 30px; }
      .section-2 .price-caption-contents .caption-content .col-option:not(:nth-of-type(2)) {
        margin-left: -1px; }
      .section-2 .price-caption-contents .caption-content .col-option:nth-of-type(3) {
        margin-top: -17px;
        background: #ECF0F4;
        padding-top: 17px;
        padding-bottom: 47px; }
        .section-2 .price-caption-contents .caption-content .col-option:nth-of-type(3) .thead .line {
          background: #D3D9E7; }
      .section-2 .price-caption-contents .caption-content .col-option .r {
        text-align: center; }
        .section-2 .price-caption-contents .caption-content .col-option .r .check {
          font-size: 15px;
          color: #4797D3; }
        .section-2 .price-caption-contents .caption-content .col-option .r .times {
          font-size: 16px;
          color: #727271; }
      .section-2 .price-caption-contents .caption-content .col-option .thead {
        position: relative; }
        .section-2 .price-caption-contents .caption-content .col-option .thead .name {
          text-align: center;
          font-size: 17px;
          color: #727271;
          text-transform: uppercase;
          padding-top: 30px; }
        .section-2 .price-caption-contents .caption-content .col-option .thead .price {
          padding-top: 19px;
          text-align: center;
          font-size: 33px; }
        .section-2 .price-caption-contents .caption-content .col-option .thead .remark {
          text-align: center;
          font-size: 13px;
          color: #727271; }
        .section-2 .price-caption-contents .caption-content .col-option .thead .cta {
          position: absolute;
          bottom: 25px;
          left: 0;
          right: 0;
          text-align: center; }
          .section-2 .price-caption-contents .caption-content .col-option .thead .cta a {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            width: 197px;
            height: 41px;
            background: #FFDD2D;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            padding-top: 12px;
            text-decoration: none;
            font-size: 12px;
            color: #000000; }
            .section-2 .price-caption-contents .caption-content .col-option .thead .cta a:hover {
              background: #FFD941; }
        .section-2 .price-caption-contents .caption-content .col-option .thead .line {
          position: absolute;
          bottom: 0;
          left: 59px;
          right: 59px;
          height: 3px;
          background: #E7EBF4; }
  @media print, screen and (max-width: 959px) {
    .section-2 .price-caption-contents {
      overflow: auto;
      padding-top: 17px; }
      .section-2 .price-caption-contents .caption-content {
        width: max-content; } }

.section-3 {
  padding: 117px 0;
  background: #ECF0F4; }
  .section-3 .header {
    font-size: 37px;
    padding-bottom: 53px; }
  .section-3 .calc {
    padding: 0 15px;
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .section-3 .calc .calc-header {
      font-size: 21px;
      padding: 13px 0 0; }
    .section-3 .calc form .form-group {
      display: inline; }
    .section-3 .calc form label {
      display: block;
      font-size: 15px;
      color: #727271;
      padding-bottom: 2px; }
    .section-3 .calc form input[type=text] {
      border: 1px solid #C5C6C6;
      font-size: 14px;
      color: #727271; }
      .section-3 .calc form input[type=text]:-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-3 .calc form input[type=text]::-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-3 .calc form input[type=text]:-ms-input-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-3 .calc form input[type=text]::-webkit-input-placeholder {
        font-size: 14px;
        color: #727271; }
    .section-3 .calc form .field-calcinputdataform-address input[type=text] {
      width: 256px;
      height: 26px;
      padding: 0 10px; }
    .section-3 .calc form .roomcount-group, .section-3 .calc form .doorcount-group, .section-3 .calc form .toiletcount-group {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 200px; }
      .section-3 .calc form .roomcount-group .spin-down, .section-3 .calc form .roomcount-group .spin-up, .section-3 .calc form .doorcount-group .spin-down, .section-3 .calc form .doorcount-group .spin-up, .section-3 .calc form .toiletcount-group .spin-down, .section-3 .calc form .toiletcount-group .spin-up {
        width: 26px;
        height: 26px;
        border: 1px solid #C5C6C6;
        cursor: pointer;
        background: #FFFFFF;
        font-size: 11px;
        color: #727271;
        vertical-align: top; }
      .section-3 .calc form .roomcount-group input[type=text], .section-3 .calc form .doorcount-group input[type=text], .section-3 .calc form .toiletcount-group input[type=text] {
        width: 88px;
        height: 26px;
        text-align: center; }
      .section-3 .calc form .roomcount-group .help-block, .section-3 .calc form .doorcount-group .help-block, .section-3 .calc form .toiletcount-group .help-block {
        margin: 0; }
    .section-3 .calc form .doorcount-group {
      width: 158px; }
      .section-3 .calc form .doorcount-group input[type=text] {
        width: 40px; }
    .section-3 .calc form .toiletcount-group {
      width: 156px; }
      .section-3 .calc form .toiletcount-group input[type=text] {
        width: 40px; }
    .section-3 .calc form .field-calcinputdataform-square {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 116px; }
      .section-3 .calc form .field-calcinputdataform-square label sup {
        font-size: 70%; }
      .section-3 .calc form .field-calcinputdataform-square input[type=text] {
        width: 76px;
        height: 27px;
        padding: 0 10px; }
      .section-3 .calc form .field-calcinputdataform-square .help-block {
        margin: 0; }
    .section-3 .calc form .field-calcinputdataform-second label input[type=checkbox], .section-3 .calc form .field-calcinputdataform-wall label input[type=checkbox] {
      display: none; }
    .section-3 .calc form .field-calcinputdataform-second label:before, .section-3 .calc form .field-calcinputdataform-wall label:before {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid #C5C6C6;
      margin-top: 2px; }
    .section-3 .calc form .field-calcinputdataform-second label span, .section-3 .calc form .field-calcinputdataform-wall label span {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    .section-3 .calc form .field-calcinputdataform-second label.checked:before, .section-3 .calc form .field-calcinputdataform-wall label.checked:before {
      background: url("/uploads/images/chw.png") no-repeat -1px center; }
    .section-3 .calc form .field-calcinputdataform-second label {
      padding-top: 10px; }
    .section-3 .calc form button[type=submit] {
      margin-top: 6px;
      width: 284px;
      height: 57px;
      background: #FFDD2D;
      border: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      font-size: 17px; }
      .section-3 .calc form button[type=submit] img {
        margin-left: 10px;
        vertical-align: middle; }
    .section-3 .calc form .help-block {
      font-size: 11px; }
  @media print, screen and (min-width: 960px) {
    .section-3 .image {
      position: absolute;
      bottom: -20px;
      right: 0; } }
  @media print, screen and (max-width: 959px) {
    .section-3 .calc {
      display: block;
      width: auto; }
      .section-3 .calc form .field-calcinputdataform-address input[type=text] {
        height: 36px; }
      .section-3 .calc form .roomcount-group, .section-3 .calc form .doorcount-group, .section-3 .calc form .toiletcount-group {
        width: auto;
        display: block;
        padding-bottom: 10px; }
        .section-3 .calc form .roomcount-group .spin-down, .section-3 .calc form .roomcount-group .spin-up, .section-3 .calc form .doorcount-group .spin-down, .section-3 .calc form .doorcount-group .spin-up, .section-3 .calc form .toiletcount-group .spin-down, .section-3 .calc form .toiletcount-group .spin-up {
          height: 36px;
          width: 36px;
          font-size: 21px; }
        .section-3 .calc form .roomcount-group input[type=text], .section-3 .calc form .doorcount-group input[type=text], .section-3 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
      .section-3 .calc form .field-calcinputdataform-square, .section-3 .calc form .doorcount-group, .section-3 .calc form .toiletcount-group {
        width: 200px; }
        .section-3 .calc form .field-calcinputdataform-square input[type=text], .section-3 .calc form .doorcount-group input[type=text], .section-3 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
    .section-3 .image {
      display: none; } }
  .section-3 .calc {
    background: #FFFFFF;
    width: 370px;
    padding: 0px 15px 14px; }
    .section-3 .calc form button[type=submit] {
      /*margin-top: 15px;*/ }
  .section-3 .image {
    bottom: 0; }
    .section-3 .image img {
      display: block; }

.section-4 {
  padding: 63px 0; }
  .section-4 .header {
    font-size: 37px; }
  .section-4 .price-section-list {
    padding: 68px 0;
    text-align: center; }
    .section-4 .price-section-list li {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 262px;
      padding: 50px; }
      .section-4 .price-section-list li:hover {
        background: #F7F9FA; }
      .section-4 .price-section-list li a {
        text-decoration: none; }
        .section-4 .price-section-list li a .image {
          display: block;
          height: 132px; }
          .section-4 .price-section-list li a .image:after {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            height: 100%;
            content: ''; }
          .section-4 .price-section-list li a .image img {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
        .section-4 .price-section-list li a .name {
          display: block;
          padding-top: 10px;
          font-size: 17px;
          color: #000000; }

.section-5 {
  background: #F6F6F6;
  padding: 45px 0;
  text-align: center;
  border-top: 1px solid #C5C6C6;
  border-bottom: 1px solid #C5C6C6; }
  .section-5 .header {
    font-size: 29px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }
  .section-5 .video {
    padding: 45px 0; }
    .section-5 .video a {
      display: block;
      margin: 0 auto;
      width: 641px;
      height: 360px;
      background-size: cover; }
      .section-5 .video a .videoimpulse-big {
        background: url("/uploads/images/video7.png") no-repeat center center;
        background-size: cover;
        width: 357px;
        height: 207.06px;
        position: relative;
        margin: 0 auto; }
        .section-5 .video a .videoimpulse-big a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative; }
      .section-5 .video a .circlephone {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid #C1052B;
        width: 149px;
        height: 149px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        opacity: .5;
        -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
        -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
        animation: circle-anim 2.4s infinite ease-in-out !important;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        margin-left: -73.5px;
        margin-top: -73.5px; }
        @media print, screen and (max-width: 959px) {
          .section-5 .video a .circlephone {
            width: 119px;
            height: 119px;
            margin-left: -58.5px;
            margin-top: -58.5px; } }
      .section-5 .video a .circle-fill {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 163.9px;
        height: 163.9px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 3px solid #C1052B;
        opacity: .8;
        -moz-animation: circle-anim 1.7s infinite ease-in-out !important;
        -webkit-animation: circle-anim 1.7s infinite ease-in-out !important;
        animation: circle-anim 1.7s infinite ease-in-out !important;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-left: -81.95px;
        margin-top: -81.95px; }
        @media print, screen and (max-width: 959px) {
          .section-5 .video a .circle-fill {
            width: 119px;
            height: 119px;
            margin-left: -59.5px;
            margin-top: -59.5px; } }
      .section-5 .video a .img-circle {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 119px;
        height: 119px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 3px solid transparent;
        opacity: .7;
        margin-left: -59.5px;
        margin-top: -59.5px; }
        @media print, screen and (max-width: 959px) {
          .section-5 .video a .img-circle {
            width: 99px;
            height: 99px;
            margin-left: -49.5px;
            margin-top: -49.5px; } }
      .section-5 .video a .img-circleblock {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 119px;
        height: 119px;
        background-image: url("/uploads/images/video7.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        display: block; }
        @media print, screen and (max-width: 959px) {
          .section-5 .video a .img-circleblock {
            width: 99px;
            height: 99px;
            background-size: cover; } }
      .section-5 .video a .img-circle:hover {
        opacity: 1; }
@-moz-keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@-moz-keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@-webkit-keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@-moz-keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@-webkit-keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@-moz-keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@-webkit-keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
  .section-5 .header {
    text-align: left;
    font-size: 37px;
    color: #000000;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: normal; }

.section-6 {
  padding: 113px 0;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA; }
  .section-6 .cont {
    background: #FFFFFF;
    border: 1px solid #D9DADA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 21px 21px 45px #D9DADA;
    -webkit-box-shadow: 21px 21px 45px #D9DADA;
    box-shadow: 21px 21px 45px #D9DADA;
    padding: 60px; }
    .section-6 .cont .header {
      font-size: 25px;
      text-align: center; }
    .section-6 .cont .subheader {
      font-size: 21px;
      text-align: center;
      padding-top: 10px; }
    .section-6 .cont .success-message {
      text-align: center;
      font-size: 21px;
      line-height: 1.45; }
    .section-6 .cont .error-message {
      text-align: center;
      font-size: 21px;
      color: #E31E24;
      line-height: 1.45; }
    .section-6 .cont .form-container {
      padding-top: 45px;
      text-align: center; }
      .section-6 .cont .form-container .form-group {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 20px 12px; }
        .section-6 .cont .form-container .form-group input[type=text] {
          background: #EEF2F7;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #DDDFE0;
          font-size: 17px;
          color: #1A1A1A;
          height: 49px;
          width: 275px;
          padding: 0 15px; }
          .section-6 .cont .form-container .form-group input[type=text]:-moz-placeholder {
            color: #1A1A1A; }
          .section-6 .cont .form-container .form-group input[type=text]::-moz-placeholder {
            color: #1A1A1A; }
          .section-6 .cont .form-container .form-group input[type=text]:-ms-input-placeholder {
            color: #1A1A1A; }
          .section-6 .cont .form-container .form-group input[type=text]::-webkit-input-placeholder {
            color: #1A1A1A; }
        .section-6 .cont .form-container .form-group .help-block {
          position: absolute;
          font-size: 80%; }
        .section-6 .cont .form-container .form-group .checkbox-label {
          font-size: 11px;
          position: relative;
          cursor: pointer; }
          .section-6 .cont .form-container .form-group .checkbox-label input[type=checkbox] {
            display: none; }
          .section-6 .cont .form-container .form-group .checkbox-label span {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
          .section-6 .cont .form-container .form-group .checkbox-label:before {
            display: inline-block;
            vertical-align: top;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            width: 17px;
            height: 17px;
            content: '';
            border: 1px solid #C5C6C6;
            margin-right: 5px; }
          .section-6 .cont .form-container .form-group .checkbox-label.checked:after {
            position: absolute;
            top: 3px;
            left: 3px;
            content: url("/uploads/images/ch.png"); }
      .section-6 .cont .form-container button[type=submit] {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin: 20px 20px 0;
        border: none;
        background: #FFDD2D;
        padding: 0 67px;
        height: 57px;
        cursor: pointer;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-size: 17px; }
  .section-6 .cont .header-1 {
    font-size: 25px;
    text-align: center; }
  .section-6 .cont .header-2 {
    font-size: 21px;
    text-align: center; }
  .section-6 .cont .socials {
    padding: 44px 0; }
    .section-6 .cont .socials ul {
      text-align: center; }
      .section-6 .cont .socials ul li {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin: 0 10px; }
        .section-6 .cont .socials ul li a {
          display: block;
          width: 60px;
          height: 60px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #979FAC;
          background: #FFFFFF;
          cursor: pointer;
          text-align: center;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .section-6 .cont .socials ul li a:after {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            height: 100%;
            content: ''; }
          .section-6 .cont .socials ul li a img {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
          .section-6 .cont .socials ul li a:hover {
            background: #979FAC; }
            .section-6 .cont .socials ul li a:hover img {
              -webkit-filter: brightness(2);
              filter: brightness(2); }
  .section-6 .cont .desc {
    font-size: 21px;
    text-align: center; }

/*# sourceMappingURL=page-price.css.map */
