/*@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Exo+2:400,700&subset=cyrillic');*/
/*'Roboto', sans-serif;*/
/*$font-os: 'Open Sans', sans-serif;*/
/*$font-cn: 'Roboto Condensed', sans-serif;*/
/*$font-exo: 'Exo 2', sans-serif;*/
.section-1 {
  height: 536px;
  margin-top: 114px;
  background-position: center top;
  background-repeat: no-repeat; }
  .section-1 .header-1 {
    padding-top: 118px;
    line-height: 1.4;
    font-size: 37px; }
  .section-1 .header-2 {
    padding-top: 34px;
    font-size: 21px;
    line-height: 1.4; }
  .section-1 .cta {
    padding-top: 35px; }
    .section-1 .cta a {
      display: block;
      cursor: pointer;
      height: 57px;
      width: 300px;
      background: #FFDD2D;
      padding: 18px 0;
      text-align: center;
      font-size: 17px;
      color: #000000;
      text-decoration: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .section-1 .cta a:hover {
        text-decoration: none;
        background: #FFD941; }
  @media print, screen and (max-width: 767px) {
    .section-1 .header-1 {
      padding-top: 20px;
      font-size: 29px; }
    .section-1 .header-2 {
      font-size: 17px; }
    .section-1 .cta {
      padding-top: 135px; }
      .section-1 .cta a {
        width: auto; } }

.section-2 {
  padding: 90px 0; }
  .section-2 .header {
    font-size: 37px;
    padding-bottom: 50px; }
  .section-2 .video {
    height: 540px;
    position: relative; }
    .section-2 .video a .videoimpulse-big {
      background: url("/uploads/images/video3.png") no-repeat center center;
      background-size: cover;
      width: 396px;
      height: 229.68px;
      position: relative;
      margin: 0 auto; }
      .section-2 .video a .videoimpulse-big a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative; }
    .section-2 .video a .circlephone {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border: 1px solid #C00027;
      width: 168px;
      height: 168px;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      opacity: .5;
      -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
      -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
      animation: circle-anim 2.4s infinite ease-in-out !important;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      margin-left: -83px;
      margin-top: -83px; }
      @media print, screen and (max-width: 959px) {
        .section-2 .video a .circlephone {
          width: 138px;
          height: 138px;
          margin-left: -68px;
          margin-top: -68px; } }
    .section-2 .video a .circle-fill {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      width: 184.8px;
      height: 184.8px;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      border: 3px solid #C00027;
      opacity: .8;
      -moz-animation: circle-anim 1.7s infinite ease-in-out !important;
      -webkit-animation: circle-anim 1.7s infinite ease-in-out !important;
      animation: circle-anim 1.7s infinite ease-in-out !important;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      margin-left: -92.4px;
      margin-top: -92.4px; }
      @media print, screen and (max-width: 959px) {
        .section-2 .video a .circle-fill {
          width: 138px;
          height: 138px;
          margin-left: -69px;
          margin-top: -69px; } }
    .section-2 .video a .img-circle {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      width: 132px;
      height: 132px;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      border: 3px solid transparent;
      opacity: .7;
      margin-left: -66px;
      margin-top: -66px; }
      @media print, screen and (max-width: 959px) {
        .section-2 .video a .img-circle {
          width: 112px;
          height: 112px;
          margin-left: -56px;
          margin-top: -56px; } }
    .section-2 .video a .img-circleblock {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      width: 132px;
      height: 132px;
      background-image: url("/uploads/images/video3.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      display: block; }
      @media print, screen and (max-width: 959px) {
        .section-2 .video a .img-circleblock {
          width: 112px;
          height: 112px;
          background-size: cover; } }
    .section-2 .video a .img-circle:hover {
      opacity: 1; }
@-moz-keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }
@-moz-keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@-webkit-keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }
@-moz-keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@-webkit-keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6; } }
@-moz-keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@-webkit-keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }
  @media print, screen and (max-width: 959px) {
    .section-2 .video {
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 56.25%;
      height: auto; } }
  @media print, screen and (max-width: 767px) {
    .section-2 .header {
      font-size: 29px; } }

.section-3 {
  padding-top: 88px;
  padding-bottom: 45px; }
  .section-3 .header {
    font-size: 37px; }
  .section-3 .lending-gallery {
    padding-top: 41px;
    text-align: center;
    position: relative; }
    .section-3 .lending-gallery #lending-gallery-carousel {
      margin: -89px auto 0;
      width: 689px;
      opacity: 0.5; }
      .section-3 .lending-gallery #lending-gallery-carousel .slides li {
        cursor: pointer;
        opacity: 0.7; }
        .section-3 .lending-gallery #lending-gallery-carousel .slides li:hover {
          opacity: 1; }
    .section-3 .lending-gallery .direction-nav a {
      position: absolute;
      top: 50%;
      font-size: 74px;
      color: #E9F0F8;
      text-decoration: none;
      width: 88px;
      height: 88px;
      opacity: 0.6; }
      .section-3 .lending-gallery .direction-nav a.flex-prev {
        left: 0;
        background: url("/uploads/images/alb.png") no-repeat; }
      .section-3 .lending-gallery .direction-nav a.flex-next {
        right: 0;
        background: url("/uploads/images/arb.png") no-repeat right top;
        text-align: right; }
        .section-3 .lending-gallery .direction-nav a.flex-next span {
          display: inline-block;
          vertical-align: top;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 17px;
          color: #EEECED;
          width: 24px;
          height: 24px;
          background: #CB3B30;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          padding-top: 1px;
          margin-left: -70px;
          margin-top: 19px; }
      .section-3 .lending-gallery .direction-nav a:hover {
        text-decoration: none;
        opacity: 1; }
  .section-3 .cta {
    text-align: center;
    padding-top: 44px; }
    .section-3 .cta a {
      font-size: 25px;
      color: #1071FF; }
  @media print, screen and (max-width: 767px) {
    .section-3 .lending-gallery .slides li img {
      width: 100%; }
    .section-3 .lending-gallery .direction-nav a {
      margin-top: -18px; }
      .section-3 .lending-gallery .direction-nav a.flex-prev {
        left: 10px; }
      .section-3 .lending-gallery .direction-nav a.flex-next {
        right: 10px; }
    .section-3 .lending-gallery #lending-gallery-carousel {
      display: none; }
    .section-3 .cta {
      padding-top: 24px; }
      .section-3 .cta a {
        font-size: 17px; } }
  .section-3 .workstep-element {
    padding: 20px 0; }
    .section-3 .workstep-element.with-image {
      border: 1px solid #EBECEC;
      background: #FAFAFA;
      padding: 25px;
      margin: 20px 0; }
      .section-3 .workstep-element.with-image .image {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 250px;
        margin-right: 20px; }
        .section-3 .workstep-element.with-image .image img {
          width: 100%; }
      .section-3 .workstep-element.with-image .workstep-content {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 630px; }
    .section-3 .workstep-element .workstep-content .name {
      font-size: 21px;
      color: #434242;
      padding-bottom: 15px; }
    .section-3 .workstep-element .workstep-content .desc {
      font-size: 17px;
      color: #434242; }
  @media print, screen and (max-width: 959px) {
    .section-3 .workstep-element.with-image .image {
      width: 30%; }
    .section-3 .workstep-element.with-image .workstep-content {
      width: 66%; } }
  @media print, screen and (max-width: 767px) {
    .section-3 .workstep-element.with-image .image, .section-3 .workstep-element.with-image .workstep-content {
      width: 100%; } }
  @media print, screen and (max-width: 767px) {
    .section-3 .header {
      font-size: 29px; } }

.section-4 {
  background-repeat: no-repeat;
  height: 817px;
  background-position: center top;
  padding-top: 88px;
  position: relative; }
  .section-4 .header {
    font-size: 37px;
    color: #4797D3;
    text-align: center; }
    .section-4 .header .count {
      color: #EBECEC; }
  .section-4 #main-portfolio-gallery-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
    .section-4 #main-portfolio-gallery-back .slides li {
      height: 817px; }
      .section-4 #main-portfolio-gallery-back .slides li img {
        min-width: 100%;
        height: 100%; }
    .section-4 #main-portfolio-gallery-back:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .section-4 .main-portfolio-gallery {
    padding-top: 41px;
    text-align: center;
    position: relative; }
    .section-4 .main-portfolio-gallery #main-portfolio-gallery-carousel {
      margin: -89px auto 0;
      width: 689px; }
      .section-4 .main-portfolio-gallery #main-portfolio-gallery-carousel .slides li {
        cursor: pointer;
        opacity: 0.7; }
        .section-4 .main-portfolio-gallery #main-portfolio-gallery-carousel .slides li:hover {
          opacity: 1; }
    .section-4 .main-portfolio-gallery .direction-nav a {
      position: absolute;
      top: 50%;
      font-size: 74px;
      color: #E9F0F8;
      text-decoration: none;
      width: 88px;
      height: 88px;
      opacity: 0.6; }
      .section-4 .main-portfolio-gallery .direction-nav a.flex-prev {
        left: 0;
        background: url("/uploads/images/al.png") no-repeat; }
      .section-4 .main-portfolio-gallery .direction-nav a.flex-next {
        right: 0;
        background: url("/uploads/images/ar.png") no-repeat right top;
        text-align: right; }
        .section-4 .main-portfolio-gallery .direction-nav a.flex-next span {
          display: inline-block;
          vertical-align: top;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 17px;
          color: #EEECED;
          width: 24px;
          height: 24px;
          background: #CB3B30;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          padding-top: 1px;
          margin-right: 16px; }
      .section-4 .main-portfolio-gallery .direction-nav a:hover {
        text-decoration: none;
        opacity: 1; }
  .section-4 .cta {
    text-align: center;
    padding-top: 44px; }
    .section-4 .cta a {
      font-size: 25px;
      color: #1071FF; }
  @media print, screen and (max-width: 767px) {
    .section-4 {
      height: auto;
      padding: 45px 0;
      background-size: cover;
      background-position: center center; }
      .section-4 .header {
        font-size: 29px;
        color: #000000; }
        .section-4 .header .count {
          color: #1071FF; }
      .section-4 #main-portfolio-gallery-back {
        display: none; }
      .section-4 .main-portfolio-gallery .wrapper {
        padding: 0; }
      .section-4 .main-portfolio-gallery .slides li img {
        width: 100%; }
      .section-4 .main-portfolio-gallery .direction-nav a {
        margin-top: -48px; }
        .section-4 .main-portfolio-gallery .direction-nav a.flex-prev {
          left: 10px; }
        .section-4 .main-portfolio-gallery .direction-nav a.flex-next {
          right: 10px; }
      .section-4 .main-portfolio-gallery #main-portfolio-gallery-carousel {
        display: none; }
      .section-4 .cta {
        padding-top: 24px; }
        .section-4 .cta a {
          font-size: 17px; } }

.section-5 {
  padding: 117px 0; }
  .section-5 .header {
    font-size: 37px; }
  .section-5 .price-caption-line {
    margin: 55px 0; }
    .section-5 .price-caption-line ul {
      background: #EEF2F5;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .section-5 .price-caption-line ul li {
        padding: 9px 23px;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -moz-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        -webkit-transition: color 0.3s linear;
        transition: color 0.3s linear; }
        .section-5 .price-caption-line ul li a {
          font-size: 15px;
          color: #000000;
          text-decoration: none;
          /*@include transition(color 0.9s ease);*/ }
          .section-5 .price-caption-line ul li a:hover {
            text-decoration: none; }
        .section-5 .price-caption-line ul li.active {
          z-index: 10;
          position: relative; }
          .section-5 .price-caption-line ul li.active a {
            color: #FFFFFF; }
        .section-5 .price-caption-line ul li:last-child {
          background: #4C9FDB;
          -moz-border-radius: 62px;
          -webkit-border-radius: 62px;
          border-radius: 62px;
          height: 39px;
          position: absolute;
          top: 0;
          left: 0;
          mix-blend-mode: multiply;
          -moz-transition: left 0.7s ease, width 0.7s ease, top 0.7s ease;
          -o-transition: left 0.7s ease, width 0.7s ease, top 0.7s ease;
          -webkit-transition: left 0.7s ease, width 0.7s ease, top 0.7s ease;
          transition: left 0.7s ease, width 0.7s ease, top 0.7s ease;
          z-index: 1; }
  .section-5 .price-caption-contents .caption-content {
    display: none; }
    .section-5 .price-caption-contents .caption-content.active {
      display: block; }
    .section-5 .price-caption-contents .caption-content .thead {
      height: 240px; }
      .section-5 .price-caption-contents .caption-content .thead .header {
        padding-top: 16px;
        font-size: 37px; }
      .section-5 .price-caption-contents .caption-content .thead .description {
        padding-top: 31px;
        font-size: 15px; }
    .section-5 .price-caption-contents .caption-content .r {
      height: 72px;
      padding-top: 35px; }
      .section-5 .price-caption-contents .caption-content .r:after {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        height: 100%;
        content: ''; }
      .section-5 .price-caption-contents .caption-content .r span {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
    .section-5 .price-caption-contents .caption-content .col-1 {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 166px; }
      .section-5 .price-caption-contents .caption-content .col-1 .r {
        text-align: left;
        font-size: 17px;
        color: #000000;
        cursor: pointer; }
        .section-5 .price-caption-contents .caption-content .col-1 .r:hover {
          color: #4797D3; }
        .section-5 .price-caption-contents .caption-content .col-1 .r a {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 13px;
          color: #E9F0F8;
          text-decoration: none;
          width: 15px;
          height: 15px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          background: #4797D3;
          margin-left: 3px; }
    .section-5 .price-caption-contents .caption-content .col-option {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 264px;
      border: 1px solid #E7EBF4;
      background: #FFFFFF;
      padding-bottom: 30px; }
      .section-5 .price-caption-contents .caption-content .col-option:not(:nth-of-type(2)) {
        margin-left: -1px; }
      .section-5 .price-caption-contents .caption-content .col-option:nth-of-type(3) {
        margin-top: -17px;
        background: #ECF0F4;
        padding-top: 17px;
        padding-bottom: 47px; }
        .section-5 .price-caption-contents .caption-content .col-option:nth-of-type(3) .thead .line {
          background: #D3D9E7; }
      .section-5 .price-caption-contents .caption-content .col-option .r {
        text-align: center; }
        .section-5 .price-caption-contents .caption-content .col-option .r .check {
          font-size: 15px;
          color: #4797D3; }
        .section-5 .price-caption-contents .caption-content .col-option .r .times {
          font-size: 16px;
          color: #727271; }
      .section-5 .price-caption-contents .caption-content .col-option .thead {
        position: relative; }
        .section-5 .price-caption-contents .caption-content .col-option .thead .name {
          text-align: center;
          font-size: 17px;
          color: #727271;
          text-transform: uppercase;
          padding-top: 30px; }
        .section-5 .price-caption-contents .caption-content .col-option .thead .price {
          padding-top: 19px;
          text-align: center;
          font-size: 33px; }
        .section-5 .price-caption-contents .caption-content .col-option .thead .remark {
          text-align: center;
          font-size: 13px;
          color: #727271; }
        .section-5 .price-caption-contents .caption-content .col-option .thead .cta {
          position: absolute;
          bottom: 25px;
          left: 0;
          right: 0;
          text-align: center; }
          .section-5 .price-caption-contents .caption-content .col-option .thead .cta a {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            width: 197px;
            height: 41px;
            background: #FFDD2D;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            padding-top: 12px;
            text-decoration: none;
            font-size: 12px;
            color: #000000; }
            .section-5 .price-caption-contents .caption-content .col-option .thead .cta a:hover {
              background: #FFD941; }
        .section-5 .price-caption-contents .caption-content .col-option .thead .line {
          position: absolute;
          bottom: 0;
          left: 59px;
          right: 59px;
          height: 3px;
          background: #E7EBF4; }
  @media print, screen and (max-width: 959px) {
    .section-5 .price-caption-contents {
      overflow: auto;
      padding-top: 17px; }
      .section-5 .price-caption-contents .caption-content {
        width: max-content; } }
  @media print, screen and (max-width: 767px) {
    .section-5 {
      padding: 45px 0; }
      .section-5 .header {
        font-size: 29px; }
      .section-5 .price-caption-line {
        margin: 25px 0; }
        .section-5 .price-caption-line ul {
          background: none;
          position: relative; } }

.section-6 {
  padding: 117px 0;
  background: #ECF0F4; }
  .section-6 .header {
    font-size: 37px;
    padding-bottom: 53px; }
  .section-6 .calc {
    padding: 0 15px;
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .section-6 .calc .calc-header {
      font-size: 21px;
      padding: 13px 0 0; }
    .section-6 .calc form .form-group {
      display: inline; }
    .section-6 .calc form label {
      display: block;
      font-size: 15px;
      color: #727271;
      padding-bottom: 2px; }
    .section-6 .calc form input[type=text] {
      border: 1px solid #C5C6C6;
      font-size: 14px;
      color: #727271; }
      .section-6 .calc form input[type=text]:-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-6 .calc form input[type=text]::-moz-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-6 .calc form input[type=text]:-ms-input-placeholder {
        font-size: 14px;
        color: #727271; }
      .section-6 .calc form input[type=text]::-webkit-input-placeholder {
        font-size: 14px;
        color: #727271; }
    .section-6 .calc form .field-calcinputdataform-address input[type=text] {
      width: 256px;
      height: 26px;
      padding: 0 10px; }
    .section-6 .calc form .roomcount-group, .section-6 .calc form .doorcount-group, .section-6 .calc form .toiletcount-group {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 200px; }
      .section-6 .calc form .roomcount-group .spin-down, .section-6 .calc form .roomcount-group .spin-up, .section-6 .calc form .doorcount-group .spin-down, .section-6 .calc form .doorcount-group .spin-up, .section-6 .calc form .toiletcount-group .spin-down, .section-6 .calc form .toiletcount-group .spin-up {
        width: 26px;
        height: 26px;
        border: 1px solid #C5C6C6;
        cursor: pointer;
        background: #FFFFFF;
        font-size: 11px;
        color: #727271;
        vertical-align: top; }
      .section-6 .calc form .roomcount-group input[type=text], .section-6 .calc form .doorcount-group input[type=text], .section-6 .calc form .toiletcount-group input[type=text] {
        width: 88px;
        height: 26px;
        text-align: center; }
      .section-6 .calc form .roomcount-group .help-block, .section-6 .calc form .doorcount-group .help-block, .section-6 .calc form .toiletcount-group .help-block {
        margin: 0; }
    .section-6 .calc form .doorcount-group {
      width: 158px; }
      .section-6 .calc form .doorcount-group input[type=text] {
        width: 40px; }
    .section-6 .calc form .toiletcount-group {
      width: 156px; }
      .section-6 .calc form .toiletcount-group input[type=text] {
        width: 40px; }
    .section-6 .calc form .field-calcinputdataform-square {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 116px; }
      .section-6 .calc form .field-calcinputdataform-square label sup {
        font-size: 70%; }
      .section-6 .calc form .field-calcinputdataform-square input[type=text] {
        width: 76px;
        height: 27px;
        padding: 0 10px; }
      .section-6 .calc form .field-calcinputdataform-square .help-block {
        margin: 0;
        position: absolute; }
    .section-6 .calc form .field-calcinputdataform-second label input[type=checkbox], .section-6 .calc form .field-calcinputdataform-wall label input[type=checkbox] {
      display: none; }
    .section-6 .calc form .field-calcinputdataform-second label:before, .section-6 .calc form .field-calcinputdataform-wall label:before {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid #C5C6C6;
      margin-top: 2px; }
    .section-6 .calc form .field-calcinputdataform-second label span, .section-6 .calc form .field-calcinputdataform-wall label span {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    .section-6 .calc form .field-calcinputdataform-second label.checked:before, .section-6 .calc form .field-calcinputdataform-wall label.checked:before {
      background: url("/uploads/images/chw.png") no-repeat -1px center; }
    .section-6 .calc form .field-calcinputdataform-second label {
      padding-top: 10px; }
    .section-6 .calc form .has-error input[type=text] {
      border: 3px solid #BE1E2D; }
    .section-6 .calc form button[type=submit] {
      margin-top: 6px;
      width: 284px;
      height: 57px;
      background: #FFDD2D;
      border: none;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      font-size: 17px; }
      .section-6 .calc form button[type=submit] img {
        margin-left: 10px;
        vertical-align: middle; }
    .section-6 .calc form .help-block {
      font-size: 11px; }
  @media print, screen and (min-width: 960px) {
    .section-6 .image {
      position: absolute;
      bottom: -20px;
      right: 0; } }
  @media print, screen and (max-width: 959px) {
    .section-6 .calc {
      display: block;
      width: auto; }
      .section-6 .calc form .field-calcinputdataform-address input[type=text] {
        height: 36px; }
      .section-6 .calc form .roomcount-group, .section-6 .calc form .doorcount-group, .section-6 .calc form .toiletcount-group {
        width: auto;
        display: block;
        padding-bottom: 10px; }
        .section-6 .calc form .roomcount-group .spin-down, .section-6 .calc form .roomcount-group .spin-up, .section-6 .calc form .doorcount-group .spin-down, .section-6 .calc form .doorcount-group .spin-up, .section-6 .calc form .toiletcount-group .spin-down, .section-6 .calc form .toiletcount-group .spin-up {
          height: 36px;
          width: 36px;
          font-size: 21px; }
        .section-6 .calc form .roomcount-group input[type=text], .section-6 .calc form .doorcount-group input[type=text], .section-6 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
      .section-6 .calc form .field-calcinputdataform-square, .section-6 .calc form .doorcount-group, .section-6 .calc form .toiletcount-group {
        width: 200px; }
        .section-6 .calc form .field-calcinputdataform-square input[type=text], .section-6 .calc form .doorcount-group input[type=text], .section-6 .calc form .toiletcount-group input[type=text] {
          height: 36px; }
    .section-6 .image {
      display: none; } }
  @media print, screen and (max-width: 767px) {
    .section-6 {
      padding: 45px 0; }
      .section-6 .header {
        font-size: 29px; }
      .section-6 .calc {
        width: auto; }
        .section-6 .calc form button[type=submit] {
          width: 100%; }
        .section-6 .calc form .field-calcinputdataform-second label span {
          max-width: 92%; } }
  .section-6 .calc {
    background: #FFFFFF;
    width: 370px;
    padding: 0px 15px 14px; }
    .section-6 .calc form button[type=submit] {
      /*margin-top: 15px;*/ }
  .section-6 .image {
    bottom: 0; }
    .section-6 .image img {
      display: block; }
  @media print, screen and (max-width: 767px) {
    .section-6 .calc {
      width: 100%;
      padding: 10px; } }

.section-7 {
  padding: 45px 0; }
  .section-7 .header {
    font-size: 37px; }
  .section-7 .lending-list {
    padding: 40px 0;
    text-align: center; }
    .section-7 .lending-list li {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 300px;
      height: 300px;
      background: #FFFFFF;
      padding: 30px;
      -moz-box-shadow: 15px 12px 34px #C9C8CA;
      -webkit-box-shadow: 15px 12px 34px #C9C8CA;
      box-shadow: 15px 12px 34px #C9C8CA;
      margin: 16px 12px;
      position: relative;
      text-align: left; }
      @media print, screen and (min-width: 960px) {
        .section-7 .lending-list li:first-child, .section-7 .lending-list li:nth-child(3n+1) {
          margin-left: 0; }
        .section-7 .lending-list li:last-child, .section-7 .lending-list li:nth-child(3n+3) {
          margin-right: 0; }
        .section-7 .lending-list li:nth-child(-n+3) {
          margin-top: 0; }
        .section-7 .lending-list li:nth-last-child(-n+3) {
          margin-bottom: 0; } }
      .section-7 .lending-list li .image {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        background: #606C81;
        height: 120px;
        text-align: center; }
        .section-7 .lending-list li .image:after {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          height: 100%;
          content: ''; }
        .section-7 .lending-list li .image img {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
      .section-7 .lending-list li .name {
        display: block;
        padding: 10px 0;
        font-size: 17px; }
      .section-7 .lending-list li .desc {
        display: block;
        font-size: 15px;
        color: #727271;
        line-height: 1.3; }
      .section-7 .lending-list li .link {
        display: block;
        padding: 10px 0; }
        .section-7 .lending-list li .link a {
          font-size: 17px;
          color: #1071FF; }
      .section-7 .lending-list li .line {
        position: absolute;
        bottom: 39px;
        left: 30px;
        width: 52px;
        height: 6px;
        background: #606C81;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
  @media print, screen and (max-width: 767px) {
    .section-7 .header {
      font-size: 29px; }
    .section-7 .lending-list li {
      margin: 10px 0;
      width: 100%; } }

.section-8 {
  padding: 113px 0;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA; }
  .section-8 .cont {
    background: #FFFFFF;
    border: 1px solid #D9DADA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 21px 21px 45px #D9DADA;
    -webkit-box-shadow: 21px 21px 45px #D9DADA;
    box-shadow: 21px 21px 45px #D9DADA;
    padding: 60px; }
    .section-8 .cont .header {
      font-size: 25px;
      text-align: center; }
    .section-8 .cont .subheader {
      font-size: 21px;
      text-align: center;
      padding-top: 10px; }
    .section-8 .cont .success-message {
      text-align: center;
      font-size: 21px;
      line-height: 1.45; }
    .section-8 .cont .error-message {
      text-align: center;
      font-size: 21px;
      color: #E31E24;
      line-height: 1.45; }
    .section-8 .cont .form-container {
      padding-top: 45px;
      text-align: center; }
      .section-8 .cont .form-container .form-group {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 20px 12px; }
        .section-8 .cont .form-container .form-group input[type=text] {
          background: #EEF2F7;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #DDDFE0;
          font-size: 17px;
          color: #1A1A1A;
          height: 49px;
          width: 275px;
          padding: 0 15px; }
          .section-8 .cont .form-container .form-group input[type=text]:-moz-placeholder {
            color: #1A1A1A; }
          .section-8 .cont .form-container .form-group input[type=text]::-moz-placeholder {
            color: #1A1A1A; }
          .section-8 .cont .form-container .form-group input[type=text]:-ms-input-placeholder {
            color: #1A1A1A; }
          .section-8 .cont .form-container .form-group input[type=text]::-webkit-input-placeholder {
            color: #1A1A1A; }
        .section-8 .cont .form-container .form-group .help-block {
          position: absolute;
          font-size: 80%; }
        .section-8 .cont .form-container .form-group .checkbox-label {
          font-size: 11px;
          position: relative;
          cursor: pointer; }
          .section-8 .cont .form-container .form-group .checkbox-label input[type=checkbox] {
            display: none; }
          .section-8 .cont .form-container .form-group .checkbox-label span {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
          .section-8 .cont .form-container .form-group .checkbox-label:before {
            display: inline-block;
            vertical-align: top;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            width: 17px;
            height: 17px;
            content: '';
            border: 1px solid #C5C6C6;
            margin-right: 5px; }
          .section-8 .cont .form-container .form-group .checkbox-label.checked:after {
            position: absolute;
            top: 3px;
            left: 3px;
            content: url("/uploads/images/ch.png"); }
      .section-8 .cont .form-container button[type=submit] {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin: 20px 20px 0;
        border: none;
        background: #FFDD2D;
        padding: 0 67px;
        height: 57px;
        cursor: pointer;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-size: 17px; }
  @media print, screen and (max-width: 767px) {
    .section-8 {
      padding: 40px 0; }
      .section-8 .cont {
        padding: 20px 10px; }
        .section-8 .cont .header {
          font-size: 21px; }
        .section-8 .cont .subheader {
          font-size: 17px; }
        .section-8 .cont .form-container .form-group {
          display: block;
          padding: 10px 0;
          margin-bottom: 0; }
          .section-8 .cont .form-container .form-group input[type=text] {
            width: 100%; }
          .section-8 .cont .form-container .form-group .checkbox-label {
            text-align: left; }
            .section-8 .cont .form-container .form-group .checkbox-label span {
              max-width: 92%; }
        .section-8 .cont .form-container button[type=submit] {
          padding: 0;
          width: 100%;
          margin: 0; } }

/*# sourceMappingURL=page-lending-1.css.map */
