/*@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Exo+2:400,700&subset=cyrillic');*/
/*$font-os: 'Open Sans', sans-serif;*/
/*$font-cn: 'Roboto Condensed', sans-serif;*/
/*$font-exo: 'Exo 2', sans-serif;*/
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica.eot");
  src: url("../fonts/helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff"), url("../fonts/helvetica.ttf") format("truetype"), url("../fonts/helvetica.svg#helvetica") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot") format("embedded-opentype"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight.svg#RobotoLight") format("svg"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

a:focus, a:hover, a:active, input:focus, input:hover, input:active, button:focus, button:hover, button:active, select:focus, select:hover, select:active {
  outline: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 17px;
  color: #000000;
  font-family: "Helvetica", sans-serif;
  line-height: 1.3; }

section {
  overflow: hidden; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative; }
  @media print, screen and (max-width: 959px) {
    .wrapper {
      padding: 0 20px; } }

.popup-window {
  position: relative;
  background: #ffffff;
  padding: 40px; }
  .popup-window .header {
    font-size: 25px;
    text-align: center; }
  .popup-window .subheader {
    font-size: 21px;
    text-align: center;
    padding-top: 10px; }
  .popup-window .success-message {
    text-align: center;
    font-size: 21px;
    line-height: 1.45; }
  .popup-window .error-message {
    text-align: center;
    font-size: 21px;
    color: #E31E24;
    line-height: 1.45; }
  .popup-window .form-container {
    padding-top: 45px;
    text-align: center; }
    .popup-window .form-container .form-group {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding: 20px 12px; }
      .popup-window .form-container .form-group input[type=text] {
        background: #EEF2F7;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #DDDFE0;
        font-size: 17px;
        color: #1A1A1A;
        height: 49px;
        width: 275px;
        padding: 0 15px; }
        .popup-window .form-container .form-group input[type=text]:-moz-placeholder {
          color: #1A1A1A; }
        .popup-window .form-container .form-group input[type=text]::-moz-placeholder {
          color: #1A1A1A; }
        .popup-window .form-container .form-group input[type=text]:-ms-input-placeholder {
          color: #1A1A1A; }
        .popup-window .form-container .form-group input[type=text]::-webkit-input-placeholder {
          color: #1A1A1A; }
      .popup-window .form-container .form-group .help-block {
        position: absolute;
        font-size: 80%; }
      .popup-window .form-container .form-group .checkbox-label {
        font-size: 11px;
        position: relative;
        cursor: pointer; }
        .popup-window .form-container .form-group .checkbox-label input[type=checkbox] {
          display: none; }
        .popup-window .form-container .form-group .checkbox-label span {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
        .popup-window .form-container .form-group .checkbox-label:before {
          display: inline-block;
          vertical-align: top;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 17px;
          height: 17px;
          content: '';
          border: 1px solid #C5C6C6;
          margin-right: 5px; }
        .popup-window .form-container .form-group .checkbox-label.checked:after {
          position: absolute;
          top: 3px;
          left: 3px;
          content: url("/uploads/images/ch.png"); }
    .popup-window .form-container button[type=submit] {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 20px 20px 0;
      border: none;
      background: #FFDD2D;
      padding: 0 67px;
      height: 57px;
      cursor: pointer;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      font-size: 17px; }

.section-content {
  padding: 86px 0;
  border-top: 1px solid #D9DADA; }
  .section-content h1 {
    font-size: 33px;
    color: #434242;
    padding-bottom: 70px; }
  .section-content .page-content {
    font-size: 17px;
    color: #434242; }
    .section-content .page-content p {
      margin-bottom: 15px; }
    .section-content .page-content ul {
      list-style: disc;
      padding: 10px 0 10px 30px; }
    .section-content .page-content h2 {
      font-size: 29px;
      color: #434242;
      padding-bottom: 30px;
      padding-top: 40px; }
    .section-content .page-content h3 {
      font-size: 25px;
      color: #434242;
      padding-bottom: 30px;
      padding-top: 40px; }
    .section-content .page-content h4, .section-content .page-content h5, .section-content .page-content h6 {
      font-size: 21px;
      color: #434242;
      padding-bottom: 30px;
      padding-top: 40px; }
    .section-content .page-content b, .section-content .page-content strong {
      font-weight: bold; }
    .section-content .page-content i {
      font-style: italic; }
    .section-content .page-content img {
      max-width: 100%; }

#top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: none;
  text-align: center;
  cursor: pointer;
  opacity: 0.8; }
  #top .image, #top .text {
    display: block; }
  #top:hover {
    opacity: 1; }

footer {
  background: #222222;
  padding-bottom: 50px;
  clear: both;
  border-top: 3px solid #C5C6C6; }
  footer .top {
    padding: 40px 0;
    border-bottom: 1px solid #333333; }
    footer .top .h {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 72%;
      font-size: 25px;
      color: #ffffff; }
    footer .top a {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-left: 5px;
      background: #434242;
      border: 1px solid #979FAC;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      font-size: 25px;
      color: #979FAC;
      padding-top: 18px;
      width: 254px;
      height: 69px;
      text-decoration: none; }
  footer .footer-menu {
    padding-top: 40px;
    border-bottom: 1px solid #333333;
    padding-bottom: 40px; }
    footer .footer-menu .left, footer .footer-menu .center, footer .footer-menu .right {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 30%; }
      footer .footer-menu .left .h, footer .footer-menu .center .h, footer .footer-menu .right .h {
        font-size: 17px;
        color: #979FAC; }
      footer .footer-menu .left ul li, footer .footer-menu .center ul li, footer .footer-menu .right ul li {
        display: block;
        margin-top: 15px; }
        footer .footer-menu .left ul li a, footer .footer-menu .center ul li a, footer .footer-menu .right ul li a {
          text-decoration: none;
          font-size: 15px;
          color: #F4F4F4; }
          footer .footer-menu .left ul li a:hover, footer .footer-menu .center ul li a:hover, footer .footer-menu .right ul li a:hover {
            text-decoration: underline; }
    footer .footer-menu .left ul li:first-child {
      margin-top: 0; }
      footer .footer-menu .left ul li:first-child a {
        font-size: 17px; }
  footer .bottom {
    padding-top: 40px; }
    footer .bottom .left {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 600px; }
      footer .bottom .left .social-header {
        font-size: 21px;
        color: #ffffff;
        padding-bottom: 40px; }
        footer .bottom .left .social-header span {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          padding-left: 10px; }
        footer .bottom .left .social-header img {
          vertical-align: middle; }
      footer .bottom .left ul li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-right: 24px; }
        footer .bottom .left ul li a {
          display: block;
          width: 60px;
          height: 60px;
          border: 1px solid #979FAC;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center; }
          footer .bottom .left ul li a:after {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            height: 100%;
            content: ''; }
          footer .bottom .left ul li a img {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline; }
          footer .bottom .left ul li a:hover {
            background-color: #979FAC; }
    footer .bottom .right {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 350px;
      font-size: 17px;
      color: #F4F4F4; }
  footer .copyright {
    padding-top: 40px;
    color: #D9DADA;
    line-height: 1; }
    footer .copyright p {
      margin: 0 0 15px; }
    footer .copyright .sitemap {
      float: right;
      width: 354px;
      padding-top: 80px; }
      footer .copyright .sitemap a {
        font-size: 17px;
        color: #D9DADA;
        text-decoration: none; }
  @media print, screen and (max-width: 959px) {
    footer .col-left {
      display: none; }
    footer .col-menu {
      display: block;
      width: auto;
      margin: 0 20px 20px; }
    footer .col-work {
      float: right;
      padding-right: 10px; }
    footer .copyright {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px; }
      footer .copyright .sitemap {
        padding-bottom: 20px;
        float: none;
        padding-top: 0; }
        footer .copyright .sitemap.product {
          float: right; }
    footer .top .h {
      width: 55%; }
    footer .bottom right {
      display: block;
      margin: 30px 20px; } }
  @media print, screen and (max-width: 767px) {
    footer .col-menu > ul:last-child {
      -moz-column-count: auto;
      -webkit-column-count: auto;
      column-count: auto; }
    footer .col-work {
      float: none;
      padding: 20px; }
    footer .top .h {
      width: auto;
      text-align: center;
      margin-bottom: 10px;
      font-size: 15px; }
    footer .top a {
      display: block;
      margin: 10px auto; }
    footer .footer-menu .menu > li {
      width: auto; }
    footer .bottom .left {
      width: auto;
      text-align: center; }
      footer .bottom .left .soc a {
        margin-bottom: 5px;
        margin-right: 12px;
        margin-left: 12px; }
    footer .bottom .right {
      width: auto;
      margin-top: 10px; }
    footer .copyright {
      padding: 0; }
      footer .copyright .sitemap {
        width: auto;
        padding-top: 10px; } }

.breadcrumb {
  background: none;
  padding: 129px 0 0; }
  .breadcrumb li a {
    font-size: 13px;
    color: #000000; }
  .breadcrumb li.active {
    font-size: 13px;
    color: #727271; }
    .breadcrumb li.active a {
      font-size: 13px;
      color: #727271; }
  .breadcrumb > li + li:before {
    color: #000000; }

header {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #C5C6C6;
  border-bottom: 1px solid #C5C6C6;
  z-index: 100; }
  header .top-hidden {
    display: none;
    border-top: 1px solid #C5C6C6;
    border-bottom: 1px solid #C5C6C6;
    padding: 55px 0;
    background: #F4F4F4; }
    header .top-hidden .top-hidden-menu {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 72%; }
      header .top-hidden .top-hidden-menu > ul > li {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 31%; }
        header .top-hidden .top-hidden-menu > ul > li > a {
          font-size: 17px;
          color: #434242;
          font-family: "Roboto", sans-serif;
          text-decoration: none; }
        header .top-hidden .top-hidden-menu > ul > li > ul {
          padding-top: 15px; }
          header .top-hidden .top-hidden-menu > ul > li > ul > li {
            display: block;
            padding-bottom: 15px; }
            header .top-hidden .top-hidden-menu > ul > li > ul > li a {
              font-size: 15px;
              color: #434242;
              font-family: "Roboto", sans-serif;
              text-decoration: none; }
    header .top-hidden .socials {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 20%; }
      header .top-hidden .socials .sheader {
        font-size: 17px;
        color: #434242;
        font-family: "Roboto", sans-serif; }
      header .top-hidden .socials ul {
        padding: 25px 0; }
        header .top-hidden .socials ul li {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          padding-right: 15px; }
          header .top-hidden .socials ul li a {
            display: block;
            cursor: pointer; }
  header .top-fixed {
    top: 0;
    height: 114px;
    position: relative; }
    header .top-fixed:after {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      height: 100%;
      content: ''; }
    header .top-fixed .logo {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      header .top-fixed .logo a {
        display: block; }
    header .top-fixed .himenu {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-left: 64px;
      margin-right: 22px; }
      header .top-fixed .himenu a {
        font-size: 17px;
        color: #000000;
        text-decoration: none; }
        header .top-fixed .himenu a img {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
        header .top-fixed .himenu a span {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          padding-left: 10px; }
        header .top-fixed .himenu a:hover span {
          text-decoration: underline; }
    header .top-fixed .main-menu {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      header .top-fixed .main-menu ul li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
        header .top-fixed .main-menu ul li a {
          display: block;
          padding: 10px 8px;
          font-size: 17px;
          color: #000000;
          text-decoration: none; }
          header .top-fixed .main-menu ul li a:hover {
            text-decoration: none;
            color: #1071FF; }
        header .top-fixed .main-menu ul li.active a {
          color: #1071FF; }
    header .top-fixed .top-phone {
      position: absolute;
      top: 45px;
      right: 0; }
      header .top-fixed .top-phone .num {
        padding-bottom: 5px; }
        header .top-fixed .top-phone .num a {
          font-size: 21px;
          color: #1071FF;
          font-family: "Roboto", sans-serif;
          text-decoration: none; }
          header .top-fixed .top-phone .num a:hover {
            text-decoration: none; }
      header .top-fixed .top-phone .foz a {
        font-size: 15px;
        color: #898989;
        text-decoration: none; }
        header .top-fixed .top-phone .foz a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
