@charset "utf-8";

// @link http://www.htmlcsscolor.com/ Color name


$color-aliceblue: #F8FAFC;
$color-alizarin: #E31E24;
$color-ascenic: #3E444A;
$color-azure: #EEEFEF;
$color-azure2: #F4F6F6;
$color-azure3: #F7FAFA;
$color-black: #000000;
$color-black5: #F4F4F4;
$color-black10: #EBECEC;
$color-black20: #D9DADA;
$color-black30: #C5C6C6;
$color-black40: #B2B3B3;
$color-black50: #9D9E9E;
$color-black60: #898989;
$color-black70: #727271;
$color-black80: #5B5B5B;
$color-black90: #434242;
$color-blue: #393185;
$color-bokaragrey: #2B2A29;
$color-brown: #A72926;
$color-cabaret: #D65A73;
$color-cardinal: #BE1E2D;
$color-carmine: #A40827;
$color-carrotorange: #F29114;
$color-charcoal: #424242;
$color-chetwodeblue: #5E75AB;
$color-chinaivory: #FEF7D4;
$color-cinderella: #FBDBCD;
$color-codgrey: #2F3336;
$color-columbiablue: #A2D9F7;
$color-cornflower: #94BAE2;
$color-cornflowerblue: #6699FF;
$color-darkgrey: #AAAAAA;
$color-darkgrey2: #ADADAD;
$color-darkgrey3: #ACACAC;
$color-darkorange: #fb850b;
$color-darktangerine: #F59F0D;
$color-darktangerine2: #FAB61B;
$color-dimgrey: #747474;
$color-dimgrey2: #666666;
$color-dodgerblue: #3399FF;
$color-dodgerblue2: #007FFF;
$color-dodgerblue3: #1071FF;
$color-eclipse: #404040;
$color-ewhite: #FEFEFE;
$color-firebrick: #B72B28;
$color-fireenginered: #C92223;
$color-gainsboro: #DFDCDC;
$color-gainsboro2: #e0e0e0;
$color-gainsboro3: #D8D8D8;
$color-gainsboro4: #DDDDDD;
$color-gainsboro5: #DADADA;
$color-ghost: #B8B8B9;
$color-gorse: #FFDD2D;
$color-gorse2: #FFD941;
$color-grey: #777777;
$color-grey2: #808080;
$color-greychateau: #979FAC;
$color-harley-davidson-orange: #C03022;
$color-harley-davidson-orange2: #E1330E;
$color-hawkesblue: #E2E3E8;
$color-iron: #C4C5C5;
$color-iron2: #CECFCF;
$color-ivory: #FFFDED;
$color-jordyblue: #7999E4;
$color-jordyblue2: #759CDF;
$color-havelockblue: #627CB9;
$color-hawkesblue: #D0D5ED;
$color-hawkesblue2: #D5DDE9;
$color-kilimanjaro: #403935;
$color-lightblue: #7690C9;
$color-lightgrey: #D6D6D6;
$color-lightsteelblue: #A3C2DA;
$color-limeade: #6BA833;
$color-linkwater: #D6D7D9;
$color-lochmara: #336699;
$color-lola: #BAB6BA;
$color-madison: #2C3E50;
$color-maire: #1C1B17;
$color-matterhorn: #4D4D4D;
$color-mystic: #D0D2D1;
$color-nero: #272727;
$color-nero2: #1A1A1A;
$color-nero3: #222222;
$color-nightrider: #333333;
$color-pacificblue: #00A0E3;
$color-pacificblue2: #1896D1;
$color-pattensblue: #DDDFE0;
$color-periwinkle: #C9CFEA;
$color-pictonblue: #4095DB;
$color-pigmentgreen: #009846;
$color-pinkswan: #B6B6B6;
$color-polo-blue: #93A6D4;
$color-poloblue: #74A3C7;
$color-pumpkin: #ef7f1a;
$color-radicalred: #F45057;
$color-red: #FF0000;
$color-rhino: #364657;
$color-rhino2: #434C5D;
$color-sandstone: #737271;
$color-seagull: #73A4C8;
$color-shakespeare: #6D94B6;
$color-silver: #BEBEBE;
$color-smalt: #003399;
$color-snow: #F9F9F9;
$color-snow2: #FBFBFB;
$color-snow3: #FAFAFA;
$color-solitude: #ECEDEE;
$color-solitude2: #F1F3FA;
$color-solitude3: #EEF2F7;
$color-summersky: #20a2d6;
$color-suvagrey: #8C8C8C;
$color-tahitigold: #e47717;
$color-venetianred: #C00027;
$color-venetianred2: #C1052B;
$color-venetianred3: #BF0229;
$color-venetianred4: #BD0026;
$color-venetianred5: #C1042A;
$color-venetianred6: #BF0228;
$color-verylightgrey: #CCCCCC;
$color-verylightgrey2: #CACACA;
$color-whisper: #E4E4E4;
$color-whisper2: #e9e9e9;
$color-whisper3: #ededed;
$color-whisper4: #E6E6E6;
$color-white: #ffffff;
$color-whitesmoke: #F8F8F8;
$color-whitesmoke2: #F7F7F7;
$color-whitesmoke3: #F6F6F6;
$color-whitesmoke4: #EFEFEF;
$color-whitesmoke5: #F4F4F4;
$color-whitesmoke6: #F7F7F8;
$color-whitesmoke7: #F0F0F0;
$color-whitesmoke8: #F1F1F1;
$color-zambezi: #595959;
$color-zircon: #e3e4e4;